{% extends '::base_back.html.twig' %}

{% block body -%}
<div id="detail_article">
  <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="{{ path('back_home') }}">Tableau de bord</a>
                </li>
                 <li class="active">
                  Détail vente n° {{ entity.id}}
                </li>
            </ol>
        </div>
    </div>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ entity.prix }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ entity.stock }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ entity.commentaire }}</td>
            </tr>
            <tr>
                <th>Vendeur</th>
                <td><a href="{{ path('back_user_detail', { 'id': entity.vendeur.id}) }}">{{entity.vendeur.username}}</a></td>
            </tr>
            <tr>
                <th>Article</th>
                <td><a href="{{ path('back_article_detail', { 'id': entity.article.id}) }}">{{entity.article.nom}}</a></td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ entity.etat.libelle }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('back_sales') }}">
            Back to the list
        </a>
    </li>
</ul>
    <li><a href="{{ path('back_home') }}" title="">Revenir à l'Accueil</a></li>
</div>
{% endblock %}
