{% extends '::base_back.html.twig' %}
{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Ventes
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="{{ path('back_home') }}">Tableau de bord</a>
                </li>
                <li class="active">
                    <i class="fa fa-bar-chart-o"></i> Ventes
                </li>
            </ol>
        </div>
    </div>
       <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Vendeur</th>
                    <th>Article</th>
                    <th>Etat</th>
                    <th>Date</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Commentaire</th>
                </tr>
            </thead>
            <tbody>
             {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('back_sale_detail', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <th><a href="{{ path('back_user_detail', { 'id': entity.vendeur.id }) }}">{{ entity.vendeur.id }}</a></th>
                    <td><a href="{{ path('back_article_detail', { 'id': entity.article.id }) }}">{{ entity.article.nom }}</a></td>
                    <td>{{ entity.etat.libelle }}</td>
                    <td>{% if entity.date %}{{ entity.date|date('d/m/Y H:i:s') }}{% endif %}</td>
                    <td>{{ entity.prix }}</td>
                    <td>{{ entity.stock }}</td>
                    <td>{{ entity.commentaire }}</td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
 </div>
    {% endblock %}