{% extends "::base_back.html.twig" %}

{% block body %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Tableau de bord <small> Administrateur</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{articles | length}}</div>
                            {% if articles | length > 1%} <div>Articles à valider</div>
                            {% else %} <div>Article à valider</div> {% endif %}
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th> ID </th>
                                    <th> Créateur </th>
                                    <th> Nom </th>
                                    <th> </th>
                                </tr>
                            </thead>
                            <tbody>
                                 {% for key,article in articles %}
                                     {% if key < 10%}
                                        <tr>
                                            <td>{{ article.id }}</td>
                                            <td><a href="{{ path('back_user_detail', { 'id': article.createur.id }) }}">{{ article.createur.nom }}</a></td>
                                            <td>{{article.nom}}</td>
                                            <td><a href="{{ path('back_article_detail', { 'id': article.id }) }}" title="voir détail"><i class="fa fa-fw fa-folder-open"></i></a></td>
                                        </tr
                                    {% endif %}
                                 {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% if articles | length > 10%}
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Voir tous les articles</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                 {% endif %}
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{commandes | length}}</div>
                            {% if articles | length > 1%} <div> Commandes passées aujourd'hui</div>
                            {% else %} <div>Commande passée aujourd'hui</div> {% endif %}
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th> ID </th>
                                    <th> Client </th>
                                    <th> Prix </th>
                                    <th> </th>
                                </tr>
                            </thead>
                            <tbody>
                                 {% for key,commande in commandes %}
                                     {% if key < 10%}
                                        <tr>
                                            <td>{{ commande.id }}</td>
                                            <td><a href="{{ path('back_user_detail', { 'id': commande.acheteur.id }) }}">{{ commande.acheteur.nom }}</a></td>
                                            <td>{{ commande.prix }}</td>
                                            <td><a href="{{ path('back_command_detail', { 'id': commande.id }) }}" title="voir détail"><i class="fa fa-fw fa-folder-open"></i></a></td>
                                        </tr>
                                    {% endif %}
                                 {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% if commandes | length > 10%}
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Voir toutes les commandes</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-12 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-support fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ventes | length}}</div>
                            {% if articles | length > 1%} <div> Ventes proposées aujourd'hui </div>
                            {% else %} <div>Vente proposée aujourd'hui</div> {% endif %}
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th> ID </th>
                                    <th> Vendeur </th>
                                    <th> Article </th>
                                    <th> Etat </th>
                                    <th> Prix </th>
                                    <th> Quantité </th>
                                    <th> </th>
                                </tr>
                            </thead>
                            <tbody>
                                 {% for key,vente in ventes %}
                                     {% if key < 10%}
                                        <tr>
                                            <td>{{ vente.id }}</td>
                                            <td><a href="{{ path('back_user_detail', { 'id': vente.vendeur.id }) }}">{{ vente.vendeur.prenom }} {{ vente.vendeur.nom }}</a></td>
                                            <td><a href="{{ path('back_article_detail', { 'id': vente.article.id }) }}">{{ vente.article.nom }}</a></td>
                                            <td>{{ vente.etat.libelle}}</td>
                                            <td>{{ vente.prix}}</td>
                                            <td>{{ vente.stock}}</td>
                                            <td><a href="{{ path('back_sale_detail', { 'id': vente.id }) }}" title="voir détail"><i class="fa fa-fw fa-folder-open"></i></a></td>
                                        </tr>
                                    {% endif %}
                                 {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% if ventes | length > 10%}
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left"> Voir toutes les ventes </span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
