{% extends '::base_front.html.twig' %}

{% block body -%}
<div class="header_slide">
    <div class="header_bottom_left">
    {{ render(controller('UlysseFrontBundle:Categorie:menu')) }}				
    </div>
    <div class="header_bottom_right">
        <div class="section group">
             ERREUR 403 : Oups! Il vous est impossible d'accéder à cette partie du site.
        </div>
    </div>
</div>
{% endblock %}