{% extends '::base_front.html.twig' %}

{% block body -%}
<div class="header_slide">
    <div class="header_bottom_left">
    {{ render(controller('UlysseFrontBundle:Categorie:menu')) }}				
    </div>
    <div class="header_bottom_right">
        <div class="section group">
            ERREUR 404 : Oups! Le contenu que vous recherchez sur le site est introuvable.
        </div>
    </div>
</div>
{% endblock %}