{# back user detail #}
{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Utilisateur détail</h1>

    <div class="fos_user_user_show">
        <p>Nom d'utilisateur: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Nom: {{ user.nom }}</p>
        <p>Prénom: {{ user.prenom }}</p>
        <p>Ville: {{ ville.nom }} {{ ville.cp }}</p>
        <p>Adresse: {{ user.adresse }}</p>
        <p>Téléphone: {{ user.tel }}</p>
    </div>

        <ul class="record_actions">
               <li>
        <a href="{{ path('back_user_update', { 'id': user.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <a href="{{ path('back_users') }}">
            Back to the list
        </a>
    </li>
</ul>
    <li><a href="{{ path('back_home') }}" title="">Revenir à l'Accueil</a></li>
{% endblock %}