{% extends '::base_back.html.twig' %}
{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Client n° {{ user.id }} :  {{ user.nom }} {{ user.prenom }}
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="{{ path('back_home') }}">Tableau de bord</a>
                </li>
                <li>
                    <i class="fa fa-users"></i> Liste clients
                </li>
                <li class="active">
                    <i class="fa fa-user"></i> Client n° {{ user.id }} :  {{ user.nom }} {{ user.prenom }}
                </li>
            </ol>
        </div>
    </div>
    <div class="fos_user_user_show">
        <p>Nom d'utilisateur: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Nom: {{ user.nom }}</p>
        <p>Prénom: {{ user.prenom }}</p>
       {% if ville.nom is defined %} <p>Ville: {{ ville.nom }} {{ ville.cp }}</p> {% endif %}
        <p>Adresse: {{ user.adresse }}</p>
        <p>Téléphone: {{ user.tel }}</p>
    </div>
{% endblock %}