{# back user edit #}
{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Utilisateur edit</h1>
<form action="{{ path('back_user_update', { 'id' : user.id}) }}" {{ form_enctype(edit_form) }} method="POST" class="fos_user_profile_edit">

    {{ form_errors(edit_form) }}
    <div>
        {{ form_errors(edit_form.email) }}
        {{ form_label(edit_form.email) }}
        {{ form_widget(edit_form.email) }}
    </div>
    <div>
        {{ form_errors(edit_form.username) }}
        {{ form_label(edit_form.username) }}
        {{ form_widget(edit_form.username) }}
    </div>
    <div>
        {{ form_errors(edit_form.current_password) }}
        {{ form_label(edit_form.current_password) }}
        {{ form_widget(edit_form.current_password) }}
    </div>
    <div>
        {{ form_errors(edit_form.plainPassword.first) }}
        {{ form_label(edit_form.plainPassword.first) }}
        {{ form_widget(edit_form.plainPassword.first) }}
    </div>
    <div>
        {{ form_errors(edit_form.plainPassword.second) }}
        {{ form_label(edit_form.plainPassword.second) }}
        {{ form_widget(edit_form.plainPassword.second) }}
    </div>
        <div>
        {{ form_errors(edit_form.nom) }}
        {{ form_label(edit_form.nom) }}
        {{ form_widget(edit_form.nom) }}
    </div>
        <div>
        {{ form_errors(edit_form.prenom) }}
        {{ form_label(edit_form.prenom) }}
        {{ form_widget(edit_form.prenom) }}
    </div>
    <div>
        {{ form_errors(edit_form.ville) }}
        {{ form_label(edit_form.ville) }}
        {{ form_widget(edit_form.ville) }}
    </div>
    <div>
        {{ form_errors(edit_form.tel) }}
        {{ form_label(edit_form.tel) }}
        {{ form_widget(edit_form.tel) }}
    </div>
    <div>
            {{ form_rest(edit_form) }}
    </div>
</form>


        <ul class="record_actions">
    <li>
        <a href="{{ path('back_users') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
    <li><a href="{{ path('back_home') }}" title="">Revenir à l'Accueil</a></li>

{% endblock %}
