/*SURCOUCHE CSS PERSO*/

/*Générale*/
.clear {
    clear: both;
}
body {
/*    background-color: initial !important;*/
}


/*HEADER*/
div.navbar-header a.navbar-brand{
    padding: 0px;
}
div#wrapper nav.navbar-inverse{
/*    background-color: #FFF;*/
    min-height: 65px;
    /*border-color: #CECECE;*/
}
ul.side-nav {
    top: 64px;
}

/*WRAPPER*/
div#page-wrapper {
    min-height: 800px;
}
/*FOOTER*/
.footer {
    position: relative;
/*    background: #FCFCFC;*/
/*    border-top: 1px solid #CECECE;*/
    margin: 20px auto;
}
.copy_right {
    text-align: center;
/*    border-top: 1px solid #EEE;*/
    padding: 10px 0;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.copy_right p {
    color: #FFF;
}
