{% trans_default_domain 'FOSUserBundle' %}

{#<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    {{ form_errors(form) }}
    <div>
        {{ form_errors(form.email) }}
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
    </div>
    <div>
        {{ form_errors(form.username) }}
        {{ form_label(form.username) }}
        {{ form_widget(form.username) }}
    </div>
    <div>
        {{ form_errors(form.plainPassword.first) }}
        {{ form_label(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first) }}
    </div>
    <div>
        {{ form_errors(form.plainPassword.second) }}
        {{ form_label(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second) }}
    </div>
        <div>
        {{ form_errors(form.nom) }}
        {{ form_label(form.nom) }}
        {{ form_widget(form.nom) }}
    </div>
        <div>
        {{ form_errors(form.prenom) }}
        {{ form_label(form.prenom) }}
        {{ form_widget(form.prenom) }}
    </div>
    <div>
        {{ form_errors(form.adresse) }}
        {{ form_label(form.adresse) }}
        {{ form_widget(form.adresse) }}
    </div>
    <div>
        {{ form_errors(form.ville) }}
        {{ form_label(form.ville) }}
        {{ form_widget(form.ville) }}
    </div>
    <div>
        {{ form_errors(form.tel) }}
        {{ form_label(form.tel) }}
        {{ form_widget(form.tel) }}
    </div>
    {{ form_rest(form) }}
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
</form>#}


{#####  Modal Formulaire Inscription  #####}
{#{{ dump(form) }}#}
<div class="modal fade" id="subscribeModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title" id="myModalLabel">S'inscrire</h3>
            </div> <!-- /.modal-header -->
            <br>
            <div class="modal-body">
                <form role="form" id="subscribe-form" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                {{ form_errors(form) }}
{#                <form role="form" id="subscribe-form">#}
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group control-group">
{#                                <input type="text" name="nom_subscribe" id="nom_subscribe" class="form-control" placeholder="Nom">#}
                                {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom'} }) }}
                                {{ form_errors(form.nom) }}
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group control-group">
{#                                <input type="text" name="prenom_subscribe" id="prenom_subscribe" class="form-control" placeholder="Prénom">#}
                                {{ form_widget(form.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Prénom'} }) }}
                                {{ form_errors(form.prenom) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group control-group">
{#                        <input type="text" name="adresse_subscribe" id="adresse_subscribe" class="form-control" placeholder="Adresse">#}
                        {{ form_widget(form.adresse, {'attr': {'class': 'form-control', 'placeholder': 'Adresse'} }) }}
                        {{ form_errors(form.adresse) }}
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group control-group">
                                <input type="text" name="codepostal_subscribe" id="codepostal_subscribe " class="form-control" placeholder="Code Postal" maxlength="5" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
{#                                {{ form_widget(form.cp, {'attr': {'class': 'form-control', 'placeholder': 'Ville'} }) }}#}
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group control-group">
{#                                <input type="text" name="ville_subscribe" id="ville_subscribe" class="form-control" placeholder="Ville">#}
                                {{ form_widget(form.ville, {'attr': {'class': 'form-control', 'placeholder': 'Ville'} }) }}
                                {{ form_errors(form.ville) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group control-group">
{#                        <input type="text" name="telephone_subscribe" id="telephone_subscribe" class="form-control" placeholder="Téléphone">#}
                        {{ form_widget(form.tel, {'attr': {'class': 'form-control', 'placeholder': 'Téléphone'} }) }}
                        {{ form_errors(form.tel) }}
                    </div>
                    <div class="form-group control-group">
                        {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Pseudonyme'} }) }}
                        {{ form_errors(form.username) }}
                    </div>
                    <div class="form-group control-group">
{#                        <input type="email" name="email_subscribe" id="email_subscribe" class="form-control" placeholder="Email">#}
                        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'} }) }}
                        {{ form_errors(form.email) }}
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group control-group">
{#                                <input type="password" name="password_subscribe" id="password_subscribe" class="form-control" placeholder="Mot de Passe">#}
                                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Mot de Passe'} }) }}
                                {{ form_errors(form.plainPassword.first) }}
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group control-group">
{#                                <input type="password" name="password_confirmation_subscribe" id="password_confirmation_subscribe" class="form-control" placeholder="Confirmation du Mot de Passe">#}
                                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Confirmation du Mot de Passe'} }) }}
                                {{ form_errors(form.plainPassword.second) }}
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <span class="button-checkbox">
                                <button type="button" id="accepte-condition" class="btn" data-color="info">J'accepte</button>
                                <input type="checkbox" name="t_and_c" id="t_and_c" class="hidden" value="1">
                            </span>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9">
                            Pour s'inscrire, vous devez accepter les <a href="#" data-toggle="modal" data-target="#cgvModal">Conditions Générales de Ventes</a> du site, y compris notre utilisation des cookies.
                        </div>
                    </div>
                    <hr class="colorgraph">
                    {{ form_rest(form) }}
                    <div class="row">
                        <div class="text-center"> 
                            <input type="submit" value="Valider" class="btn btn-success btn-lg">
                        </div>
                    </div>
                </form>
            </div> <!-- /.modal-body -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Large modal -->

{#####  Modal Conditions Générales de Ventes  #####}
<div class="modal fade" id="cgvModal" role="dialog" aria-labelledby="myModalCgv" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title" id="myModalCgv">Conditions Générales de Ventes</h3>
            </div> <!-- /.modal-header -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <p>Dernière mise à jour le 23 juin 2015.</p>
                        <p><strong>Merci de lire ces conditions attentivement avant d'utiliser les Services Ulysse. En utilisant les Services Ulysse, vous acceptez d'être soumis aux présentes conditions.</strong> Nous offrons un large panel de Services Ulysse et il se peut que des conditions additionnelles s'appliquent. Quand vous utilisez un Service Ulysse (par exemple, Votre Profil ou les Applications Ulysse pour mobile), vous êtes aussi soumis aux termes, lignes directrices et conditions applicables à ce Service Ulysse (« Conditions du Service »). Si ces Conditions d'Utilisation entrent en contradiction avec ces Conditions du Service, les Conditions du Service prévaudront.</p>
                        <br>
                        <h4 class="text-primary">1. VIE PRIVEE</h4>
                        <p>Pour comprendre nos politiques, merci de consulter notre politique de protection des données personnelles et notre politique concernant la Publicité Internet et les Cookies, qui régissent également l'utilisation des Services Ulysse.</p>
                        <h4 class="text-primary">2. COMMUNICATIONS ELECTRONIQUES</h4>
                        <p>Quand vous utilisez un quelconque Service Ulysse ou que vous nous envoyez des courriers électroniques, SMS ou autres communications depuis vos équipements fixes ou mobiles, vous communiquez avec nous électroniquement. Nous communiquerons avec vous électroniquement par divers moyens, tels que par courrier électronique, SMS, messages de notification dans l'application ou en postant des courriers électroniques ou des communications sur le site internet ou à travers les autres Services Ulysse, tels que notre Gestionnaire de communication. A des fins contractuelles, vous acceptez de recevoir des communications électroniques de notre part et vous acceptez que tous les accords, informations, divulgations et autres communications que nous vous enverrons électroniquement remplissent toutes les obligations légales des communications écrites, à moins qu'une loi impérative spécifique impose un autre mode de communication.</p>
                        <h4 class="text-primary">3. PROPRIETE INTELLECTUELLE, DROIT D'AUTEUR, ET PROTECTION DES BASES DE DONNEES</h4>
                        <p>Tout le contenu présent ou rendu disponible à travers les Services Ulysse, tels que les textes, les graphiques, les logos, les boutons, les images, les morceaux de musique, les téléchargements numériques, et les compilations de données, est la propriété d'Ulysse, de ses sociétés affiliées ou de ses fournisseurs de contenu et est protégé par le droit luxembourgeois et international de la propriété intellectuelle, d'auteur et de protection des bases de données. La compilation de tout le contenu présent ou rendu disponible à travers les Services Ulysse est la propriété exclusive d'Ulysse et est protégé par le droit luxembourgeois et international de la propriété intellectuelle et de protection des bases de données.</p>
                        <h4 class="text-primary">4. MARQUES DEPOSEES</h4>
                        <p>Cliquer ici pour voir une liste non exhaustive des marques déposées par Ulysse. Par ailleurs, les graphiques, logos, en-têtes de page, boutons, scripts et noms de services inclus ou rendus disponibles à travers un Service Ulysse sont des marques ou visuels d'Ulysse. Les marques et visuels d'Ulysse ne peuvent pas être utilisés pour des produits ou services qui n'appartiennent pas à Ulysse, ou d'une quelconque manière qui pourrait provoquer une confusion parmi les clients, ou d'une quelconque manière qui dénigre ou discrédite Ulysse. Toutes les autres marques qui n'appartiennent pas à Ulysse et qui apparaissent sur un quelconque Service Ulysse sont la propriété de leurs propriétaires respectifs, qui peuvent, ou non, être affiliés, liés ou parrainés par Ulysse.</p>
                        <h4 class="text-primary">5. BREVETS</h4>
                        <p>Un ou plusieurs brevets détenus par Ulysse s'appliquent à ce site internet et aux fonctionnalités et services accessibles via le site internet. Des parties de ce site internet fonctionnent sous licences d'un ou plusieurs brevets. Cliquer ici pour voir une liste non exhaustive des brevets détenus par Ulysse et des licences de brevets applicables.</p>
                        <h4 class="text-primary">6. LICENCE ET ACCES</h4>
                        <p>Sous réserve du respect des présentes Conditions d'Utilisation et des Conditions des Services et du paiement de tous les sommes applicables, Ulysse ou ses fournisseurs de contenu vous accorde une licence limitée, non exclusive, non transférable, non sous licenciable à l'accès et à l'utilisation personnelle et non commerciale des Services Ulysse. Cette licence n'inclut aucun droit d'utilisation d'un Service Ulysse ou de son contenu pour la vente ou tout autre utilisation commerciale ; de collecte et d'utilisation d'un listing produit, descriptions, ou prix de produits; de toute utilisation dérivée d'un Service Ulysse ou de son contenu ; de tout téléchargement ou copie des informations d'un compte pour un autre commerçant ; ou de toute utilisation de robot d'aspiration de données, ou autre outil similaire de collecte ou d'extraction de données.</p>
                        <h4 class="text-primary">7. VOTRE COMPTE</h4>
                        <p>Si vous utilisez un quelconque Service Ulysse, vous êtes responsable du maintien de la confidentialité de votre compte et mot de passe, des restrictions d'accès à votre ordinateur et autres équipements, et dans la limite de ce qui est autorisé par la loi applicable, vous acceptez d'être responsable de toutes les activités qui ont été menées depuis de votre compte ou avec votre mot de passe. Vous devez prendre toutes les mesures nécessaires pour vous assurer que votre mot de passe reste confidentiel et sécurisé, et devez nous informer immédiatement si vous avez des raisons de croire que votre mot de passe est connu de quelqu'un d'autre, ou si le mot de passe est utilisé ou susceptible d'être utilisé de manière non autorisée. Vous êtes responsable de la validité et du caractère complets des informations que vous nous avez fournies, et devez nous informer de tout changement concernant ces informations. Vous pouvez accéder à vos informations et les modifier, ainsi que vos paramètres de compte, dans l'espace Votre compte du site internet.</p>
                        <h4 class="text-primary"></h4>
                        <p></p>
                    </div>
                </div>
            </div> <!-- /.modal-body -->

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
    $("#subscribe-form input[name=codepostal_subscribe]").css( "z-index" ,  "5000" );
    
    $("#subscribe-form input[name=codepostal_subscribe]").autocomplete({
            source: function( request, response ) { 
            $(".ui-helper-hidden-accessible").hide();
            var url = 'http://localhost/ulysse/web/app_dev.php/request-cp';
            console.log(url,request.term);
                $.ajax({
                        url: url,
                        type: "POST",
                        dataType: "json",
                        data: {val : request.term},
                        success: function( data ){
                                response($.map(data, function (item){
                                   
                                    $("#subscribe-form input[name=codepostal_subscribe]").addClass("ui-autocomplete");
                                    $(".ui-autocomplete").css("z-index", "5000");
                                    return {
                                        label: "" + item.cp + " : "+ item.nom  +"",
                                        value: function (){
                                           $("#subscribe-form input[name=codepostal_subscribe]").val(item.cp);
                                           $("#fos_user_registration_form_ville").val(item.nom);
                                           return item.cp;
                                        }
                                    };
                                 }));
                                }
                        });
                },
		minLength	: 3
            });
      
</script>