{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    {{ form_errors(form) }}
    <div>
        {{ form_errors(form.email) }}
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
    </div>
    <div>
        {{ form_errors(form.username) }}
        {{ form_label(form.username) }}
        {{ form_widget(form.username) }}
    </div>
    <div>
        {{ form_errors(form.plainPassword.first) }}
        {{ form_label(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first) }}
    </div>
    <div>
        {{ form_errors(form.plainPassword.second) }}
        {{ form_label(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second) }}
    </div>
        <div>
        {{ form_errors(form.nom) }}
        {{ form_label(form.nom) }}
        {{ form_widget(form.nom) }}
    </div>
        <div>
        {{ form_errors(form.prenom) }}
        {{ form_label(form.prenom) }}
        {{ form_widget(form.prenom) }}
    </div>
    <div>
        {{ form_errors(form.ville) }}
        {{ form_label(form.ville) }} 
        {{ form_widget(form.ville) }}
    </div>
    <div>
        {{ form_errors(form.tel) }}
        {{ form_label(form.tel) }}
        {{ form_widget(form.tel) }}
    </div>
    {{ form_rest(form) }}
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
</form>