<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Site d'annonces entre particuliers - Ulysse.fr!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% stylesheets output="css/compiled/main.css" filter='cssrewrite'
            "bundles/ulyssefront/css/style.css"
            "bundles/ulyssefront/css/global.css"
            "bundles/ulyssefront/css/easy-responsive-tabs.css"
            "bundles/ulyssefront/css/slider.css"
            "bundles/ulyssefront/bootstrap/css/bootstrap.min.css"
        %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all">
        {% endstylesheets %}
{#        {% stylesheets output='assets/fonts/Amble-Regular-webfont.ttf'
            'bundles/ulyssefront/fonts/Amble-Regular-webfont.ttf'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all">
        {% endstylesheets %}#}
        {% javascripts output="js/compiled/main.js"
            "bundles/ulyssefront/js/jquery-2.1.4.min.js"
            "bundles/ulyssefront/js/jquery-ui/jquery-ui.min.js"
            "bundles/ulyssefront/js/move-top.js"
            "bundles/ulyssefront/js/easing.js"
            "bundles/ulyssefront/js/startstop-slider.js"
            "bundles/ulyssefront/js/easyResponsiveTabs.js"
            "bundles/ulyssefront/js/slides.min.jquery.js"
            "bundles/ulyssefront/jQuery-Validate/assets/js/jquery.validate.js"
            "bundles/ulyssefront/bootstrap/js/bootstrap.min.js"
        %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}

    </head>
    <body>
{#  {{ include('UserBundle:Security:login.html.twig') }}#}


{#  On implémente les vues des formulaires  #}
{# {{ render(controller('UlysseUserBundle:Security:login')) }} #}
{{ render(controller('UlysseUserBundle:Registration:register')) }}

        <div class="wrap">
            <div class="header">
                <div class="headertop_desc">
                    <div class="account_desc">
                        <ul>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li><a href="{{ path('user_logout') }}" title="">Déconnexion</a></li>
                            <li><a href="{{ path('user_profile_show') }}" title="">Profil</a></li>
                            {% else %}
                            <li>
                                <a data-placement="bottom" data-toggle="popover" data-title="Connexion" type="button" data-html="true" href="#" id="login" data-content='{{ render(controller('UlysseUserBundle:Security:login')) }}'>Connexion</a>
                            </li>
{#                                <li><a href="#" role="button" data-toggle="modal" data-target="#loginModal" >Connexion</a></li>#}
                            <li><a href="#" role="button" data-toggle="modal" data-target="#subscribeModal">S'inscrire</a></li>
                            {% endif %}
                        </ul>

{#                        <h4>Bienvenue : {{ dump(user) }}</h4>#}
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="header_top">
                    <div class="logo">
                        <a href="{{ path('front_homepage') }}"><img src="{{ asset('bundles/ulyssefront/images/logo.png')}}" alt="logo ulysse" /></a>
                    </div>
                    {# Affichage des éventuels des messages flash #}
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div class="alert alert-danger perso-alert" role="alert">
                            <span class="glyphicon glyphicon-remove"></span> {{ flashMessage }}
                        </div>
                    {% endfor %}
                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <div class="alert alert-success perso-alert" role="alert">
                            <span class="glyphicon glyphicon-ok"></span> {{ flashMessage }}
                        </div>
                    {% endfor %}
                    {{ render(controller('UlysseFrontBundle:Commande:navBarCart')) }}
                    <div class="clear"></div>
                </div>
                <div class="header_bottom">
                    <div class="menu">
                        <ul>
                            <li {{ (app.request.attributes.get('_route') == 'front_homepage') ? ' class="active"' }}>
                                <a href="{{ path('front_homepage') }}">Accueil</a>
                            </li>
                            <li {{ (app.request.attributes.get('_route') == 'front_apropos') ? ' class="active"' }}>
                                <a href="{{ path('front_apropos') }}">A propos</a>
                            </li>
                            <li {{ (app.request.attributes.get('_route') == 'front_contact') ? ' class="active"' }}>
                                <a href="{{ path('front_contact') }}">Contact</a>
                            </li>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li {{ (app.request.attributes.get('_route') == 'front_contact-admin') ? ' class="active"' }}>
                                <a href="{{ path('front_contact-admin') }}">Contacter l'Admin</a>
                            </li>
                            <li {{ (app.request.attributes.get('_route') == 'front_add_sale') ? ' class="active"' }}>
                                <a href="{{ path('front_add_sale') }}">Proposer une vente</a>
                            </li>
                            {% endif %}
                            {% if is_granted("ROLE_ADMIN") %}
                            <li {{ (app.request.attributes.get('_route') == 'back_home') ? ' class="active"' }}>
                                <a href="{{ path('back_home') }}">Administrer</a>
                            </li>
                            {% endif %}
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <div class="search_box">
                        <form action="{{path('front_find_article')}}">
                            <input type="text" name='search' value="Recherche" onfocus="this.value = '';" onblur="if (this.value == '') {
                                        this.value = 'search';
                                    }">
                            <input type="submit" value="">
                        </form>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>{#  .header  #}

        {% block body %}
        {% endblock %}

        </div>
        <div class="footer">
            <div class="copy_right">
                <p>Ulysse © All rights Reserved | Design & Concept by JJM</p>
            </div>
        </div>
        <script type="text/javascript">
            function DropDown(el) {
                this.dd = el;
                this.initEvents();
            }
            DropDown.prototype = {
                initEvents: function() {
                    var obj = this;

                    obj.dd.on('click', function(event) {
                        $(this).toggleClass('active');
                        event.stopPropagation();
                    });
                }
            }

            $(function() {

                var dd = new DropDown($('#dd'));

                $(document).click(function() {
                    // all dropdowns
                    $('.wrapper-dropdown-2').removeClass('active');
                });

            });

            $(function() {
                $("#accordion").accordion({
                    collapsible: true,
                    active: false,
                    heightStyle: "content"
                });
            });
                        
            $(document).ready(function() {
                $('.modal-footer button').click(function() {
                    var button = $(this);

                    if (button.attr("data-dismiss") != "modal") {
                        var inputs = $('form input');
                        var title = $('.modal-title');
                        var progress = $('.progress');
                        var progressBar = $('.progress-bar');

                        inputs.attr("disabled", "disabled");

                        button.hide();

                        progress.show();

                        progressBar.animate({width: "100%"}, 100);

                        progress.delay(1000)
                                .fadeOut(600);

                        button.text("Close")
                                .removeClass("btn-primary")
                                .addClass("btn-success")
                                .blur()
                                .delay(1600)
                                .fadeIn(function() {
                                    title.text("Log in is successful");
                                    button.attr("data-dismiss", "modal");
                                });
                    }
                });
                
                
                {# Issue de preview.html => détail d un article  #}
                $('#horizontalTab').easyResponsiveTabs({
                    type: 'default', //Types: default, vertical, accordion           
                    width: 'auto', //auto or any width like 600px
                    fit: true   // 100% fit in a container
                });
                $(function() {
                    $('#products').slides({
                        preload: true,
                        preloadImage: 'img/loading.gif',
                        effect: 'slide, fade',
                        crossfade: true,
                        slideSpeed: 350,
                        fadeSpeed: 500,
                        generateNextPrev: true,
                        generatePagination: false
                    });
                });
                
                $().UItoTop({easingType: 'easeOutQuart'});



            /**
             *  FORMULAIRE DE CONNEXION
             */
            //  Popover sur le formulaire de connexion         
            $("[data-toggle=popover]").popover({
                html: true,
                content: function() {
                    return $('#popover-content').html();
                }
            });
            
            // Au clic exterieur, on ferme le popover
            $('body').on('click', function (e) {
                //did not click a popover toggle or popover
                if ($(e.target).data('toggle') !== 'popover'
                    && $(e.target).parents('.popover.in').length === 0) { 
                    $('[data-toggle="popover"]').popover('hide');
                }
            });

            // Validation du Formulaire de connexion
            var popover = $("[data-toggle=popover]").popover({
                html: 'true'
            }).on('click', function() {
                $('#login-form').validate({
                    rules: {
                        _username: {
                            required: true,
                            email: true
                        },
                        password_login: {
                            required: true,
                            minlength: 5
                        }
                    },
                    highlight: function(element) {
                        $(element).closest('.control-group').removeClass('success').addClass('has-error');
                    },
                    success: function(element) {
                        element
                            //  .text('OK!').addClass('valid')
                            .closest('.control-group').removeClass('has-error').addClass('success');
                    }
                });
            });
            
            
            /**
             *  FORMULAIRE D'INSCRIPTION
             */
            // Modal sur le Formulaire d'inscription
            $('#myModal').on('hidden.bs.modal', function(e) {
                var inputs = $('form input');
                var title = $('.modal-title');
                var progressBar = $('.progress-bar');
                var button = $('.modal-footer button');

                inputs.removeAttr("disabled");

                title.text("Log in");

                progressBar.css({"width": "0%"});

                button.removeClass("btn-success")
                        .addClass("btn-primary")
                        .text("Ok")
                        .removeAttr("data-dismiss");

            });

            //console.log($('button#accepte-condition').click());
            
            accepteCondition();
            // Click du bouton accepter les conditions
            function accepteCondition() {
                if ($('button#accepte-condition').click) {
                    console.log('click');
                    $(this).css({"background-color": "#337AB7", "color": "#FFF"});
                    return true;
                }
                else {
                    console.log('NOT click');
                    return false;
                }
            };

            // Validation du Formulaire Inscription
            $('#subscribe-form').validate({
                rules: {
                    nom_subscribe: {
                        required: true
                    },
                    prenom_subscribe: {
                        required: true
                    },
                    adresse_subscribe: {
                        required: true
                    },
                    codepostal_subscribe: {
                        required: true,
                        number: true,
                        minlength: 5
                    },
                    ville_subscribe: {
                        required: true
                    },
                    telephone_subscribe: {
                        number: true,
                    },
                    email_subscribe: {
                        required: true,
                        email: true
                    },
                    password_subscribe: {
                        required: true,
                        minlength: 5,
                    },
                    password_confirmation_subscribe: {
                        equalTo: '#password_subscribe'
                    },
                },
                highlight: function(element) {
                    $(element).closest('.control-group').removeClass('success').addClass('has-error');
                },
                success: function(element) {
                    element
                            //                    .text('OK!').addClass('valid')
                            .closest('.control-group').removeClass('has-error').addClass('success');
                }
            });
        });

        </script>
        <a href="#" id="toTop"><span id="toTopHover"> </span></a>
    </body>
</html>