<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Site d'annonces entre particuliers - Ulysse.fr!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% stylesheets output="css/compiled/main.css" filter='cssrewrite'
            "bundles/ulysseBack/bootstrap/css/bootstrap.min.css"
            "bundles/ulysseBack/bootstrap/css/sb-admin.css"
            "bundles/ulysseBack/bootstrap/css/plugins/morris.css"
            "bundles/ulysseBack/font-awesome/css/font-awesome.min.css"
            "bundles/ulysseBack/css/style.css"
        %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all">
        {% endstylesheets %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% javascripts output="js/compiled/main.js"
            "bundles/ulysseBack/bootstrap/js/jquery.js"
            "bundles/ulysseBack/bootstrap/js/bootstrap.min.js"
            "bundles/ulysseBack/bootstrap/js/bootstrap.js"
            "bundles/ulysseBack/bootstrap/js/plugins/morris/raphael.min.js"
            "bundles/ulysseBack/bootstrap/js/plugins/morris/morris.min.js"
            "bundles/ulysseBack/bootstrap/js/plugins/morris/morris-data.js"
        %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}

    </head>
    <body>
        <div id="wrapper">
            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('front_homepage') }}"><img src="{{ asset('bundles/ulyssefront/images/logo_back.png')}}" alt="logo ulysse" /></a>
                </div>
                <!-- Top Menu Items -->
                <ul class="nav navbar-right top-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <b>{{ render(controller('UlysseUserBundle:Profile:loggedUserPrenom')) }}</b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ path('user_logout') }}"><b>Déconnexion</b></a>
                    </li>
                </ul>
                <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav side-nav">
                        <li {{ (app.request.attributes.get('_route') == 'back_home') ? ' class="active"' }}>
                            <a href="{{ path('back_home') }}"><i class="fa fa-fw fa-dashboard"></i> TABLEAU DE BORD</a>
                        </li>
                        <li {{ (app.request.attributes.get('_route') == 'back_articles') ? ' class="active"' }}>
                            <a href="{{ path('back_articles') }}"><i class="fa fa-fw fa-file"></i> ARTICLES</a>
                        </li>
                        <li {{ (app.request.attributes.get('_route') == 'back_commands') ? ' class="active"' }}>
                            <a href="{{ path('back_commands') }}"><i class="fa fa-fw fa-table"></i> COMMANDES</a>
                        </li>
                        <li {{ (app.request.attributes.get('_route') == 'back_sales') ? ' class="active"' }}>
                            <a href="{{ path('back_sales') }}"><i class="fa fa-fw fa-table"></i> VENTES </a>
                        </li>
                        <li {{ (app.request.attributes.get('_route') == 'back_users') ? ' class="active"' }}>
                            <a href="{{ path('back_users') }}"><i class="fa fa-fw fa-user"></i> CLIENTS</a>
                        </li>
                        <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#parametres"><i class="fa fa-fw fa-wrench"></i> Parametres</a>
                            <ul id="parametres" class="collapse">
                                <li {{ (app.request.attributes.get('_route') == 'back_categories') ? ' class="active"' }}>
                                    <a href="{{ path('back_categories') }}">CATEGORIES</a>
                                </li>
                                <li {{ (app.request.attributes.get('_route') == 'back_sub_categories') ? ' class="active"' }}>
                                    <a href="{{ path('back_sub_categories') }}">SOUS-CATEGORIES</a>
                                </li>
                                <li {{ (app.request.attributes.get('_route') == 'back_tags') ? ' class="active"' }}>
                                    <a href="{{ path('back_tags') }}">TAGS</a>
                                </li>
                                <li {{ (app.request.attributes.get('_route') == 'back_status') ? ' class="active"' }}>
                                    <a href="{{ path('back_status') }}">ETATS</a>
                                </li>
                                <li {{ (app.request.attributes.get('_route') == 'back_brands') ? ' class="active"' }}>
                                    <a href="{{ path('back_brands') }}">MARQUES</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
            <div class="clear"></div>
            <div id="page-wrapper">
                <div class="container-fluid">

                <!-- Page Heading -->
                {% block body %}
                {% endblock %}
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->
        </div>
        <div class="clear"></div>
        <div class="footer">
            <div class="copy_right">
                <p>Ulysse © All rights Reserved | Design & Concept by JJM</p>
            </div>
        </div>
        {% block javascripts %}{% endblock %}
        <a href="#" id="toTop"><span id="toTopHover"> </span></a>
    </body>
</html>
