{% extends '::base.html.twig' %}

{% block body -%}
    ADMIN ZONE FUCK YEAH
    
    <li><a href="{{ path('back_') }}" title="">Déconnexion</a></li>
    <li><a href="{{ path('user_profile_show') }}" title="">Profil</a></li>
    <li><a href="{{ path('user_logout') }}" title="">Déconnexion</a></li>
    <li><a href="{{ path('user_profile_show') }}" title="">Profil</a></li>
{% endblock %}
