{% extends "::base_front.html.twig" %}

{% block body %}
{#<div id="panier-detail" class="main">
    <div class="content">#}
<div class="header_slide">
    <div class="header_bottom_left">
    {{ render(controller('UlysseFrontBundle:Categorie:menu')) }}				
    </div>
    <div class="header_bottom_right">
        <div class="section group">
            <h2>Détail du Panier</h2>
            <br>
            {% if ventesArray is not empty %}
                <table class="records_list table">
                    <thead>
                        <tr>
                            <th>Article</th>
                            <th>Prix Unitaire</th>
                            <th>Stock</th>
                            <th>Etat</th>
                            <th>Description complémentaire</th>
                            <th>Vendeur</th>
                            <th>Date</th>
                            <th>Quantite</th>
                            <th>Total</th>

                        </tr>
                    </thead>
                    <tbody>
                    {% for venteArray in ventesArray %}
                        <tr>
                            <td><a href="{{path('front_detail_article',{ 'id' : venteArray['vente'][0].id })}}">{{ venteArray['vente'][0].article.nom }}</a></td>
                            <td>{{ venteArray['vente'][0].prix }} €</td>
                            <td>{{ venteArray['vente'][0].stock }}</td>
                            <td>{{ venteArray['vente'][0].etat.libelle }}</td>
                            <td>{{ venteArray['vente'][0].commentaire }}</td>
                            <td>{{ venteArray['vente'][0].vendeur.username}}</td>
                            <td>{{ venteArray['vente'][0].date|date('Y-m-d H:i:s') }}</td>
                            <td>{{ venteArray['quantite'] }}</td>
                            <td>{{ venteArray['vente'][0].prix*venteArray['quantite'] }} €</td>
                            <td><a href="{{ path('front_cart_remove', { 'id_vente' : venteArray['vente'][0].id }) }}" class="btn {% if ventesArray is empty %} btn-default disabled {% else %} btn-info {% endif %}">Retirer du Panier</a>
    </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a href="{{ path('front_empty_cart') }}" class="btn {% if ventesArray is empty %} btn-default disabled {% else %} btn-warning {% endif %}">Vider Panier</a>
                <a href="{{ path('front_valid_cart') }}" class="btn {% if ventesArray is empty %} btn-default disabled {% else %} btn-success {% endif %}">Valider Panier</a>

            {% else %}
                <div style="margin-top: 20px; margin-left: 20px;">
                    <p style="color:#F0AD4E;">Votre panier est vide.</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
