{% extends '::base_back.html.twig' %}
{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                détail commande n° {{ commande.id}}
            </h1>
            <ol class="breadcrumb">
                <li>
                   <a href="{{ path('back_home') }}"> <i class="fa fa-dashboard"></i>  Tableau de bord</a>
                </li>
                <li>
                    <a href="{{ path('back_commands') }}"> <i class="fa fa-bar-chart-o"></i> Commandes</a>
                </li>
                <li class="active">
                    <i class="fa fa-bar-chart-o"></i> Commande n° {{ commande.id}}
                </li>
            </ol>
        </div>
    </div>
                
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                 <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Acheteur</th>
                    <th>Vendeur</th>
                    <th>Vente</th>
                </tr>
            </thead>
            <tbody>
                {% for commande_vente in commande_ventes %}
                    <tr>
                        <td>{{ commande_vente.commande.id }}</td>
                        <td>{{ commande_vente.commande.date|date('Y-m-d H:i:s') }}</td>
                        <td>{{ commande_vente.commande.prix }}</td>
                        <td>{{ commande_vente.quantite }}</td>
                        <td><a href="{{ path('back_user_detail', { 'id': commande_vente.commande.acheteur.id}) }}">{{commande_vente.commande.acheteur.username}}</td>
                        <td><a href="{{ path('back_user_detail', { 'id': commande_vente.vente.vendeur.id}) }}">{{commande_vente.vente.vendeur.username}}</td>
                        <td><a href="{{ path('back_sale_detail', { 'id': commande_vente.vente.id}) }}">{{commande_vente.vente.id}}</td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
  </div>
{% endblock %}
