{% extends '::base_back.html.twig' %}
{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Commandes
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="{{ path('back_home') }}">Tableau de bord</a>
                </li>
                <li class="active">
                    <i class="fa fa-bar-chart-o"></i> Commandes
                </li>
            </ol>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Acheteur</th>
                    <th>Vendeur</th>
                    <th>Vente</th>
                </tr>
            </thead>
            <tbody>
        {% for commande_vente in commandes_ventes %}
            <tr>
                <td><a href="{{ path('back_command_detail', { 'id': commande_vente.id }) }}">{{ commande_vente.id }}</a></td>
                <td>{{ commande_vente.commande.date|date('d/m/Y H:i:s') }}</td>
                <td>{{ commande_vente.commande.prix }}</td>
                <td>{{ commande_vente.quantite }}</td>
                <td><a href="{{ path('back_user_detail', { 'id': commande_vente.commande.acheteur.id }) }}">{{commande_vente.commande.acheteur.username}}</td>
                <td><a href="{{ path('back_user_detail', { 'id': commande_vente.vente.vendeur.id }) }}">{{commande_vente.vente.vendeur.username}}</td>
                <td><a href="{{ path('back_sale_detail', { 'id': commande_vente.vente.id }) }}">{{commande_vente.vente.id}}</td>
                <td>
                    <a href="{{ path('back_command_detail', { 'id': commande_vente.id }) }}" title="voir"><i class="fa fa-fw fa-folder-open"></i></a>
                   
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}