{% extends '::base_front.html.twig' %}

{% block body -%}
<div class="header_slide">
    <div class="header_bottom_left">
        {{ render(controller('UlysseFrontBundle:Categorie:menu')) }}				
        </div>
        <div class="header_bottom_right">
            <div class="section group">
{#                <form enctype="multipart/form-data" action="/ulysse/web/app_dev.php/ajouter-article" method="post" name="ulysse_backbundle_image">
                    <div id="ulysse_backbundle_image">
                        <div>
                            <div id="ulysse_backbundle_image_article">
                                <div>
                                    <label class="required" for="ulysse_backbundle_image_article_nom">Nom</label>
                                    <input type="text" maxlength="255" required="required" name="ulysse_backbundle_image[article][nom]" id="ulysse_backbundle_image_article_nom">
                                </div>
                                <div>
                                    <label class="required" for="ulysse_backbundle_image_article_description">Description</label>
                                    <textarea required="required" name="ulysse_backbundle_image[article][description]" id="ulysse_backbundle_image_article_description"></textarea>
                                </div>
                                <div>
                                    <label class="required" for="ulysse_backbundle_image_article_marque">Marque</label>
                                    <select name="ulysse_backbundle_image[article][marque]" id="ulysse_backbundle_image_article_marque">
                                    {% for marque in form.children['article'].children['marque'].vars['choices'] %}
                                            <option value="{{marque.value}}">{{marque.label}}</option>
                                    {% endfor %}
                                        </select>
                                    </div>
                                    <div>
                                        <label class="required" for="ulysse_backbundle_image_article_tag">Tag</label>
                                        <select multiple="multiple" required="required" name="ulysse_backbundle_image[article][tag][]" id="ulysse_backbundle_image_article_tag">
                                    {% for tag in form.children['article'].children['tag'].vars['choices'] %}
                                                <option value="{{tag.value}}">{{tag.label}}</option>
                                    {% endfor %}
                                            </select>
                                        </div>
                                        <div>
                                            <label class="required" for="ulysse_backbundle_image_article_sous_categorie">Sous categorie</label>
                                            <select name="ulysse_backbundle_image[article][sous_categorie]" id="ulysse_backbundle_image_article_sous_categorie">
                                     {% for sous_categorie in form.children['article'].children['sous_categorie'].vars['choices'] %}
                                                    <option value="{{sous_categorie.value}}">{{sous_categorie.label}}</option>
                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <label class="required" for="ulysse_backbundle_image_name">Name</label>
                                        <input type="text" required="required" name="ulysse_backbundle_image[name]" id="ulysse_backbundle_image_name">
                                    </div>
                                    <div>
                                        <label for="ulysse_backbundle_image_file">File</label>
                                        <input type="file" name="ulysse_backbundle_image[file]" id="ulysse_backbundle_image_file">
                                    </div>
                                    <div>
                                        <button name="ulysse_backbundle_image[submit]" id="ulysse_backbundle_image_submit" type="submit">Ajouter l'article</button>
                                    </div>
                    {{ form_widget(form._token) }}
                                </div>
                            </form>#}
                
                            <div class="panel panel-primary">
                                <div class="panel-heading"><h4>Ajouter un Article</h4></div>
                                <div class="panel-body">
                                     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
                                        <form enctype="multipart/form-data" action="/ulysse/web/app_dev.php/ajouter-article" method="post" name="ulysse_backbundle_image">

                                                <div class="form-group">
                                                    <label for="ulysse_backbundle_image_article_nom">Nom</label>
                                                    <input class="form-control" type="text" maxlength="255" required="required" name="ulysse_backbundle_image[article][nom]" id="ulysse_backbundle_image_article_nom">
                                                </div>
                                                <div class="form-group">
                                                    <label for="ulysse_backbundle_image_article_description">Description</label>
                                                    <textarea class="form-control" required="required" name="ulysse_backbundle_image[article][description]" id="ulysse_backbundle_image_article_description"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label for="ulysse_backbundle_image_article_marque">Marque</label>
                                                    <select class="form-control" name="ulysse_backbundle_image[article][marque]" id="ulysse_backbundle_image_article_marque">
                                                        {% for marque in form.children['article'].children['marque'].vars['choices'] %}
                                                            <option value="{{marque.value}}">{{marque.label}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="ulysse_backbundle_image_article_tag">Tag</label>
                                                    {% for tag in form.article.tag %}
                                                        {{ form_row(tag.libelle, {'attr': {'class': 'form-control', 'label' : '' }}) }}
                                                    {% endfor %}
                                                </div>
                                                <div class="form-group">
                                                    <label for="ulysse_backbundle_image_article_sous_categorie">Sous categorie</label>
                                                    <select class="form-control" name="ulysse_backbundle_image[article][sous_categorie]" id="ulysse_backbundle_image_article_sous_categorie">
                                                        {% for sous_categorie in form.children['article'].children['sous_categorie'].vars['choices'] %}
                                                            <option value="{{sous_categorie.value}}">{{sous_categorie.label}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="ulysse_backbundle_image_name">Nom de l'image</label>
                                                    <input class="form-control" required="required" type="text" name="ulysse_backbundle_image[name]" id="ulysse_backbundle_image_name">
                                                </div>
                                                <div class="form-group">
                                                    <label for="ulysse_backbundle_image_file">Télécharger une Image</label>
                                                    <input type="file" name="ulysse_backbundle_image[file]" id="ulysse_backbundle_image_file" >
                                                </div>
                                                <br>
                                                <button class="btn btn-primary" name="ulysse_backbundle_image[submit]" id="ulysse_backbundle_image_submit" type="submit">Ajouter l'article</button>
                                                {{ form_widget(form._token) }}
                                        </form>

                                    </div>
                                </div>
                            </div>

                           
                        </div>
                    </div>
                </div>

                <div class="clear"></div>

{% endblock %}