{% extends "::base_front.html.twig" %}

{% block body %}
<div class="header_slide">
    <div class="header_bottom_left">
    {{ render(controller('UlysseFrontBundle:Categorie:menu')) }}				
    </div>
    <div class="header_bottom_right">
        <div class="section group">
            <div class="cont-desc span_1_of_2">
                <div class="product-details">				
                    <div class="grid images_3_of_2">
                        <div id="container">
                            <div id="products_example">
                                <div id="products">
                                    <div class="slides_container">
                                        <a class="img-responsive" href="#"><img class="img-responsive" src="{{ asset('bundles/ulyssefront/images/productslide-1.jpg')}}" alt="" /></a>
                                        <a class="img-responsive" href="#"><img class="img-responsive" src="{{ asset('bundles/ulyssefront/images/productslide-2.jpg')}}" alt="" /></a>
                                        <a class="img-responsive" href="#"><img class="img-responsive" src="{{ asset('bundles/ulyssefront/images/productslide-3.jpg')}}" alt="" /></a>
{#                                        <a href="#"><img class="img-responsive" src="{{ asset('bundles/ulyssefront/images/productslide-4.jpg')}}" alt="" /></a>
                                        <a href="#"><img class="img-responsive" src="{{ asset('bundles/ulyssefront/images/productslide-5.jpg')}}" alt="" /></a>
                                        <a href="#"><img class="img-responsive" src="{{ asset('bundles/ulyssefront/images/productslide-6.jpg')}}" alt="" /></a>#}
                                    </div>
                                    <ul class="pagination">
                                        <li><a href="#"><img src="{{ asset('bundles/ulyssefront/images/thumbnailslide-1.jpg')}}" alt="" /></a></li>
                                        <li><a href="#"><img src="{{ asset('bundles/ulyssefront/images/thumbnailslide-2.jpg')}}" alt="" /></a></li>
                                        <li><a href="#"><img src="{{ asset('bundles/ulyssefront/images/thumbnailslide-3.jpg')}}" alt="" /></a></li>
{#                                        <li><a href="#"><img src="{{ asset('bundles/ulyssefront/images/thumbnailslide-4.jpg')}}" alt="" /></a></li>
                                        <li><a href="#"><img src="{{ asset('bundles/ulyssefront/images/thumbnailslide-5.jpg')}}" alt="" /></a></li>
                                        <li><a href="#"><img src="{{ asset('bundles/ulyssefront/images/thumbnailslide-6.jpg')}}" alt="" /></a></li>#}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="desc span_3_of_2">
                        <h2>{{ article.nom }}</h2>
                        <p>{{ article.description | slice(0,60) }}</p>
                        <a href="{{ path('front_add_sale') }}" title="" class='btn btn-success'>Vendez le vôtre!</a>
{#                        <p>{{ article.contenu | slice(0, 60) }} [...]</p>                       			#}
                        </div>
{#                        <div class="wish-list">
                            <ul>
                                <li class="wish"><a href="#">Add to Wishlist</a></li>
                                <li class="compare"><a href="#">Add to Compare</a></li>
                            </ul>
                        </div>#}
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="product_desc">	
                    <div id="horizontalTab">
                        <ul class="resp-tabs-list">
                            <li>Détail du Produit</li>
                            <li>Informations Complémentaires</li>
                            <li>Politique de retour</li>
                            <div class="clear"></div>
                        </ul>
                        <div class="resp-tabs-container">
                            <div class="product-desc">
                                <p>{{ article.description }}</p>
                            </div>
                            <div class="product-tags">
                                <ul>
                                    <li>Moyenne des commentaires client : <a href="#">Soyez le premier à commenter ce produit</a></li>
                                    <li>Numéro du modèle du produit : VNA780E1</li>
                                    <li>Date de mise en ligne : 21 juin 2015</li>
                                </ul>
                            </div>	

                            <div class="review">
                                <p><strong>Politique de retour Ulysse.fr:</strong> Si vous n’êtes pas satisfait d'un produit que vous avez commandé auprès d'Ulysse.fr ou si celui-ci est défectueux ou endommagé, vous pouvez nous le retourner sous 30 jours suivant la date de livraison, et nous vous rembourserons ou remplacerons l'intégralité de l'article. Pour plus d’informations, veuillez consulter notre page en savoir plus sur les Retours et remboursements.</p>
{#                                <h4>Lorem ipsum Review by <a href="#">Finibus Bonorum</a></h4>
                                <ul>
                                    <li>Prix :<a href="#"><img src="images/price-rating.png" alt="price" /></a></li>
                                    <li>Value :<a href="#"><img src="images/value-rating.png" alt="value" /></a></li>
                                    <li>Quality :<a href="#"><img src="images/quality-rating.png" alt="quality" /></a></li>
                                </ul>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                <div class="your-review">
                                    <h3>How Do You Rate This Product?</h3>
                                    <p>Write Your Own Review?</p>
                                    <form>
                                        <div>
                                            <span><label>Nickname<span class="red">*</span></label></span>
                                            <span><input type="text" value=""></span>
                                        </div>
                                        <div><span><label>Summary of Your Review<span class="red">*</span></label></span>
                                            <span><input type="text" value=""></span>
                                        </div>						
                                        <div>
                                            <span><label>Review<span class="red">*</span></label></span>
                                            <span><textarea> </textarea></span>
                                        </div>
                                        <div>
                                            <span><input type="submit" value="SUBMIT REVIEW"></span>
                                        </div>
                                    </form>
                                </div>	#}			
                            </div>
                        </div>
                    </div>
                </div>
                            
    <table class="records_list table">
        <thead>
            <tr>
                <th>Prix</th>
                <th>Stock</th>
                <th>Etat</th>
                <th>Commentaire</th>
                <th>Vendeur</th>
                <th>Date</th>
                
            </tr>
        </thead>
        <tbody>
        {% for vente in ventes %}
            <tr>
                
                <td>{{ vente.prix }}€</td>
                <td>{{ vente.stock }}</td>
                <td>{{ vente.etat.libelle }}</td>
                <td>{{ vente.commentaire }}</td>
                <td>{{ vente.vendeur.username}}</td>
                <td>{{ vente.date|date('Y-m-d H:i:s') }}</td>
                <form action="{{ path('front_cart_add', {'id_vente': vente.id}) }}" method="POST">
                    <td><input type="number" name="quantite" value="1"></td>
                    <td><input type="submit" value="Ajouter au panier"></td>
                </form>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        
                <div class="content_bottom">
                    <div class="heading">
                        <h3>Produits Similaires</h3>
                    </div>
                    <div class="see">
                        <p><a href="#">Voir tous les Produits</a></p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="section group">
                    <div class="grid_1_of_4 images_1_of_4">
                        <a href="#"><img src="images/new-pic1.jpg" alt="pic1"></a>					
                        <div class="price" style="border:none">
                            <div class="add-cart" style="float:none">								
                                <h4><a href="#">Ajouter au Panier</a></h4>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="grid_1_of_4 images_1_of_4">
                        <a href="#"><img src="images/new-pic2.jpg" alt="pic2"></a>
                        <div class="price" style="border:none">
                            <div class="add-cart" style="float:none">								
                                <h4><a href="#">Ajouter au Panier</a></h4>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="grid_1_of_4 images_1_of_4">
                        <a href="#"><img src="images/new-pic4.jpg" alt="pic4"></a>
                        <div class="price" style="border:none">
                            <div class="add-cart" style="float:none">								
                                <h4><a href="#">Ajouter au Panier</a></h4>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="grid_1_of_4 images_1_of_4">
                        <img src="images/new-pic3.jpg" alt="pic3">
                        <div class="price" style="border:none">
                            <div class="add-cart" style="float:none">								
                                <h4><a href="#">Ajouter au Panier</a></h4>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock body %}
