{% extends '::base_front.html.twig' %}
{% block body -%}
<div class="header_slide">
    <div class="header_bottom_left">
    {{ render(controller('UlysseFrontBundle:Categorie:menu')) }}				
    </div>
    <div class="header_bottom_right">
        <div class="section group">
            {% if entities| length == 0 %}
            <p style="margin-top: 100px;font-size: 1.8em;text-align: venter;"> Oops ! Aucun Produit n'est disponible pour cette recherche.</p>
            {% else %}
                {% if entities| length == 1 %}
                    <h1>{% if sous_categorie is defined %} {{ sous_categorie }} : {% endif %} Produit Disponible</h1>
                {% elseif entities| length > 1 %}
                    <h1>{% if sous_categorie is defined %} {{ sous_categorie }} : {% endif %} Tous les Produits Disponibles</h1>  
                {% endif %}
                {% for entity in entities if entity.actif %}
                    {% if prices[entity.id][0] is defined %}
                        <div class="grid_1_of_4 images_1_of_4">
                            <a href="{{ path('front_detail_article', { 'id': prices[entity.id][0] }) }}">
                                {% if entity.images[0].path is not null %}
                                    <img style="min-height: 167px; max-height: 167px;" src="{{ asset( entity.images[0].getWebPath() ) }}" alt="" />
                                {% else %}
                                    <img style="min-height: 167px; max-height: 167px;" src="{{ asset('bundles/ulyssefront/images/no_image_1.jpg')}}" alt="" />
                                {% endif %}
                            </a>
                            <h2>{{ entity.nom | length > 17 ? entity.nom | slice(0,17) ~ ' ...' : entity.nom  }}</h2>
                            <div class="price-details">
                                <div class="price-number">
                                    <p><span class="rupees">{{prices[entity.id][1]}} €</span></p>
                                </div>
                                <div class="add-cart">								
                                    <h4><a href="{{ path('front_detail_article', { 'id': prices[entity.id][0] }) }}">Détail</a></h4>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<div class="clear"></div>
{% endblock %}




