<div class="section group">

    {% for article in articles | slice(0, 4) if article.actif %}
{#    {{ dump(article) }}#}
            <div class="grid_1_of_4 images_1_of_4">
                <a href="{{path('front_detail_article', {'id' : prices[article.id][0] }) }}">
                    {% if article.images[0].path is not null %}
                        <img style="min-height: 167px; max-height: 167px;" src="{{ asset( article.images[0].getWebPath() ) }}" alt="" />
                    {% else %}
                        <img style="min-height: 167px; max-height: 167px;" src="{{ asset('bundles/ulyssefront/images/no_image_1.jpg')}}" alt="" />
                    {% endif %}
                </a>
                <h2>{{ article.nom | length > 25 ? article.nom | slice(0,25) ~ ' ...' : article.nom  }}</h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">{{prices[article.id][1]}} €</span></p>
                    </div>
                    <div class="add-cart">								
                        <h4><a href="{{path('front_detail_article', {'id' : prices[article.id][0] }) }}">Détail</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>

    {% endfor %}
</div>