{% extends '::base_front.html.twig' %}

{% block body -%}
<div class="header_slide">
    <div class="header_bottom_left">
    {{ render(controller('UlysseFrontBundle:Categorie:menu')) }}				
    </div>
    <div class="header_bottom_right">
        <div class="section group">
            <h1>Tous les Produits Disponibles </h1>
            {% for entity in entities if entity.actif %}
                <div class="grid_1_of_4 images_1_of_4">
                    <a href="{{ path('front_detail_article', { 'id': prices[entity.id][0] }) }}">
                        {% if entity.images[0].path is not null %}
                            <img style="min-height: 167px; max-height: 167px;" src="{{ asset( entity.images[0].getWebPath() ) }}" alt="" />
                        {% else %}
                            <img style="min-height: 167px; max-height: 167px;" src="{{ asset('bundles/ulyssefront/images/no_image_1.jpg')}}" alt="" />
                        {% endif %}
                    </a>
                    <h2>{{ entity.nom | length > 17 ? entity.nom | slice(0,17) ~ ' ...' : entity.nom  }}</h2>
                    <div class="price-details">
                        <div class="price-number">
                            <p><span class="rupees">{{prices[entity.id][1]}} €</span></p>
                        </div>
                        <div class="add-cart">								
                            <h4><a href="{{ path('front_detail_article', { 'id': prices[entity.id][0] }) }}">Détail</a></h4>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="clear"></div>
{% endblock %}



