{% extends '::base.html.twig' %}

{% block body -%}
<div class="header_slide">
    <div class="header_bottom_left">
    {{ render(controller('UlysseFrontBundle:Categorie:menu')) }}				
    </div>
    <div class="header_bottom_right">
        <div class="section group">
    <h1>Ajouter un article</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('article') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
