            <div class="categories">
                <h3>Categories</h3>
                <ul id="accordion">
                    {% for categorie_sous_categories in categories_sous_categories %}
                    <li class="liste-imbrique">
                        <a class="position-imbrique" href="#">{{ categorie_sous_categories['categorie'].libelle }}</a>
                        <ul>
                            {% for sous_categorie in categorie_sous_categories['sous_categories'] %}
                            <li><a class="color-imbrique" href="{{path('front_find_article_categorie', {'id' : sous_categorie.id })}}">{{sous_categorie.libelle}}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </div>	