{#{% extends "FOSUserBundle::layout.html.twig" %} #}

{% trans_default_domain 'FOSUserBundle' %}

{# {% block fos_user_content %} #}
    
<div id="popover-content">
{% if error %}
<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

{#<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    
    <div>
        <label for="username">{{ 'security.login.username'|trans }}</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
    </div>
    
    <div>
        <label for="password">{{ 'security.login.password'|trans }}</label>
        <input type="password" id="password" name="_password" required="required" />
    </div>
        
    <div>
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
    </div>
    
    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
</form>#}


{#<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title" id="myModalLabel">Connexion</h3>
            </div> <!-- /.modal-header -->
            <br>
            <div class="modal-body">
                <form role="form" id="login-form" action="{{ path("fos_user_security_check") }}" method="POST">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    <div class="form-group control-group">
                        <input type="email" name="_username" id="email_login" class="form-control" placeholder="Email" value="{{ last_username }}" required="required">
                    </div>
                    <div class="form-group control-group">
                        <input type="password" name="_password" id="password_login" class="form-control" placeholder="Mot de passe" required="required">
                    </div>
                    <br>
                    <div class="row">
                        <div class="text-center">
                            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-primary btn-lg" />
                        </div>
                    </div>
                </form>
            </div> <!-- /.modal-body -->

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->#}



    <br>
    <form role="form" id="login-form" action="{{ path("fos_user_security_check") }}" method="POST">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <div class="form-group control-group">
            <input type="email" name="_username" id="email_login" class="form-control" placeholder="Email" value="{{ last_username }}" required="required">
        </div>
        <div class="form-group control-group">
            <input type="password" name="_password" id="password_login" class="form-control" placeholder="Mot de passe" required="required">
        </div>
        <div class="row">
            <div class="text-center">
                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

{# {% endblock fos_user_content %} #}
