{% trans_default_domain 'FOSUserBundle' %}

<div class="modal fade" id="editProfilModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title" id="myModalLabel">Modifier le profil</h3>
            </div> <!-- /.modal-header -->
            <br>
            <div class="modal-body">
                <form role="form" id="subscribe-form" action="{{ path('fos_user_profile_edit') }}" method="POST"  {{ form_enctype(form) }}>
                    {{ form_errors(form) }}
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group control-group">
                                <label class="required" for="fos_user_profile_form_username">Pseudonyme</label>
                                <input type="text" name="fos_user_profile_form[username]" required="required" pattern=".{2,}" id="fos_user_profile_form_username" class="form-control" value="{{ form.vars['value'].username }}">
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group control-group">
                                <label class="required" for="fos_user_profile_form_nom">Nom</label>
                                <input type="text" name="fos_user_profile_form[nom]" required="required" id="fos_user_profile_form_nom" class="form-control"value="{{ form.vars['value'].nom }}">
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group control-group">
                                <label class="required" for="fos_user_profile_form_prenom">Prenom</label>
                                <input type="text" name="fos_user_profile_form[prenom]" required="required" id="fos_user_profile_form_prenom" class="form-control" value="{{ form.vars['value'].prenom }}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group control-group">
                        <label class="required" for="fos_user_profile_form_adresse">Adresse</label>
                        <input type="text" name="fos_user_profile_form[adresse]" required="required" id="fos_user_profile_form_adresse" class="form-control" value="{{ form.vars['value'].adresse }}">
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group control-group">
                                <label class="required" for="fos_user_profile_form_ville">Ville</label>
                                <input type="text" name="fos_user_profile_form[ville]" required="required" id="fos_user_profile_form_ville" class="form-control" value="{{ form.vars['value'].ville }}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group control-group">
                        <label class="required" for="fos_user_profile_form_tel">Tel</label>
                        <input type="text" name="fos_user_profile_form[tel]" required="required" id="fos_user_profile_form_telephone" class="form-control" value="{{ form.vars['value'].tel }}">
                    </div>
                    <div class="form-group control-group">
                        <label class="required" for="fos_user_profile_form_email">Email</label>
                        <input type="email" name="fos_user_profile_form[email]" required="required" id="fos_user_profile_form_email" class="form-control" value="{{ form.vars['value'].email }}">
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group control-group">
                                <label class="required" for="fos_user_profile_form_current_password">Mot de Passe Actuel</label>
                                <input type="password" name="fos_user_profile_form[current_password]" required="required" id="fos_user_profile_form_current_password" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group control-group">
                                <label class="required" for="fos_user_profile_form_password_first">Nouveau Mot de Passe</label>
                                <input type="password" name="fos_user_profile_form[plainPassword][first]" required="required" id="fos_user_profile_form_password_first" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group control-group">
                                <label class="required" for="fos_user_profile_form_password_second">Confirmation</label>
                                <input type="password" name="fos_user_profile_form[plainPassword][second]" required="required" id="fos_user_profile_form_password_second" class="form-control">
                            </div>
                        </div>
                    </div>
                    <br>
                    <hr class="colorgraph">
                    <div class="row">
                        <div class="text-center"> 
                            <input type="submit" value="Mettre à Jour" class="btn btn-success btn-lg">
                        </div>
                    </div>
                    {{ form_widget(form._token) }}
                </form>
            </div> <!-- /.modal-body -->
            
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
