{% trans_default_domain 'FOSUserBundle' %}

{% extends "::base_front.html.twig" %}

{% block body %}

{{ render(controller('UlysseUserBundle:Profile:edit')) }}

<br>
<br>
<div class="container">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row user-infos cyruxx">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Mes informations</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-lg-3 hidden-xs hidden-sm">
                                <img class="img-circle" src="{{ asset('bundles/ulyssefront/images/user-img.jpg')}}" alt="User Pic">
                            </div>
                            <div class="col-xs-2 col-sm-2 hidden-md hidden-lg">
                                <img class="img-circle" src="{{ asset('bundles/ulyssefront/images/user-img.jpg')}}" alt="User Pic">
                            </div>
                            <div class="col-xs-10 col-sm-10 hidden-md hidden-lg">
                                <strong>{{ user.username }}</strong>
                                <br>
                                <br>
                                <dl>
                                    <dt>{{ 'profile.show.email'|trans }}</dt>
                                    <dd>{{ user.email }}</dd>
                                    <dt>{{ 'profile.show.nom'|trans }}</dt>
                                    <dd>{{ user.nom }}</dd>
                                    <dt>{{ 'profile.show.prenom'|trans }}</dt>
                                    <dd>{{ user.prenom }}</dd>
                                    <dt>{{ 'profile.show.adresse'|trans }}</dt>
                                    <dd>{{ user.adresse }}</dd>
                                    <dt>{{ 'profile.show.ville'|trans }}</dt>
                                    <dd>{{ user.ville }}</dd>
                                    <dt>{{ 'profile.show.tel'|trans }}</dt>
                                    <dd>{{ user.tel }}</dd>
                                </dl>
                            </div>
                            <div class=" col-md-9 col-lg-9 hidden-xs hidden-sm">
                                <strong>{{ user.username }}</strong><br>
                                <br>
                                <table class="table table-user-information">
                                    <tbody>
                                        <tr>
                                            <td>{{ 'profile.show.email'|trans }}</td>
                                            <td>{{ user.email }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ 'profile.show.nom'|trans }}</td>
                                            <td>{{ user.nom }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ 'profile.show.prenom'|trans }}</td>
                                            <td>{{ user.prenom }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ 'profile.show.adresse'|trans }}</td>
                                            <td>{{ user.adresse }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ 'profile.show.ville'|trans }}</td>
                                            <td>{{ user.ville }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ 'profile.show.tel'|trans }}</td>
                                            <td>{{ user.tel }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        <span>
                            <a class="btn btn-sm btn-warning" href="#" role="button" data-toggle="modal" data-target="#editProfilModal">
                                <i class="glyphicon glyphicon-edit"></i> Modifier
                            </a>
                            <a class="btn btn-sm btn-danger" href="{{ path('front_homepage') }}" role="button"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row-fluid">
            <h3>Informations sur les commandes :</h3>
            <br>
            {% if commandes is not empty %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Commande</th>
                            <th>Date</th>
                            <th>Nom Article</th>
                            <th>Prix Unitaire</th>
                            <th>Quantite</th>
                            <th>Vendeur</th>
                            <th>Montant Total</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for commandeArray in commandes %}

                        {% for venteArray in commandeArray['ventes'] %}
                        <tr>
                            <td>N° {{ commandeArray['commande'].id }}</td>
                            <td>{{ commandeArray['commande'].date|date('Y-m-d H:i:s')  }}</td>
                            <td><a href="{{ path('front_detail_article', { 'id': venteArray['vente'].id }) }}">{{ venteArray['vente'].article.nom }}</a></td>
                            <td> {{ venteArray['vente'].prix }} €</td>
                            <td> {{ venteArray['quantite'] }}</td>
                            <td> {{ venteArray['vente'].vendeur.username }}</td>
                            <td>{{ commandeArray['commande'].prix }} €</td>
                        </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <div style="margin-left: 20px;">
                        <p style="color:#F0AD4E;">Vous n'avez passé aucune commande..</p>
                    </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock body %}