/****** J'ai préfixé de #detail-article tous les éléments car il y a un conflit avec boostrap *****/ 

/*#container {
    margin:0 auto;
    position:relative;
    z-index:0;
}*/

#detail-article #horizontalTab ul{
    margin-bottom: 0px;
}
#detail-article #products_example {
    position:relative;
}
/*Slideshow*/
#detail-article #products .slides_container {
    width:99.5%;
    overflow:hidden;
    float:left;
    position:relative;
    border:1px solid #dfdfdf;
    display:none;
}

/*
        Each slide
        Important:
        Set the width of your slides
        If height not specified height will be set by the slide content
        Set to display block
*/

#detail-article .slides_container a {
    width:366px;
    height:274px;
    display:block;
    
    margin-left: 30px;
}

/*Next/prev buttons*/

#detail-article #products .next,#products .prev {
    position:absolute;
    top:127px;
    left:5px;
    width:21px;
    height:0;
    padding-top:21px;
    overflow:hidden;
    display:block;
    z-index:101;
}
#detail-article #products .prev {
    background:url(../images/arrow-prev.png);
}

#detail-article #products .next {
    /*left:403px;*/
    left:93%;
    background:url(../images/arrow-next.png);
}

/*****Pagination********/

#detail-article #products .pagination {
    background:#dfdfdf;
    padding:5px;
    float:left;
}
#detail-article #products .pagination li {
    float:left;
    margin:2px 4px;
    list-style:none;
}
#detail-article #products .pagination li a {
    display:block;
    width:55px;
    height:41px;
    margin:1px;
    float:left;
    background:#f9f9f9;
}
#detail-article #products .pagination li.current a {
    border:1px solid #7f7f7f;
    margin:0;
}
@media only screen and (max-width: 1800px) {
    #detail-article .slides_container a {
        margin-left: 15px;
    }
}
@media only screen and (max-width: 1700px) {
    #detail-article .slides_container a {
        margin-left: 0px;
    }
}
@media only screen and (max-width: 1500px) {
    #detail-article .slides_container a {
        /*width:265px;*/
        margin-left: 0px;
        padding-top:18px;
    }
    #detail-article #products .next {
        left: 91%;
    }
}
@media only screen and (max-width: 1300px) {
    #detail-article .slides_container a {
        /*width:265px;*/
        margin-left: 0px;
        padding-top:40px;
    }
    #detail-article #products .next {
        left: 89%;
    }
}
@media only screen and (max-width: 1024px) {
    #detail-article .slides_container a {
        /*width:265px;*/
        margin-left: 0px;
        padding-top:40px;
    }
    #detail-article #products .pagination li {
        margin:2px 14px;
    }
    #detail-article #products .next {
        /*left: 243px;*/
        left: 88%;
    }
}
@media only screen and (max-width: 800px) {
    #detail-article .slides_container a{
/*        width:320px;
        margin-left: 10px;*/
        padding-top: 30px;
    }
    #detail-article #products .pagination li {
        margin:2px 10px;
    }
    #detail-article #products .next {
        /*left: 295px;*/
        left: 90%;
    }
}
@media only screen and (max-width: 640px) {
    #detail-article .slides_container a{
        padding-top: 47px;
    }
    #detail-article #products .next{
        /*left:230px;*/
        left: 87%;
    }
}
@media only screen and (max-width: 480px) {
    #detail-article .slides_container a{
        width:400px;
        padding-top:0;
    }
    #detail-article #products .next{
        /*left:403px;*/
        left: 93%;
    }
    #detail-article #products .pagination li{
        margin:2px 6.6px;
    }
}
@media only screen and (max-width: 370px) {
    #detail-article .slides_container a{
        padding-top:32px;
    }
}
@media only screen and (max-width:320px) {
    #detail-article #products .next{
        /*left:255px;*/
        left: 89%;
    }
    #detail-article .slides_container a{
/*        width:285px;*/
        padding-top:70px;
    }
    #detail-article #products .pagination li{
        margin:2px 5px;
    }
    #detail-article .wish-list li a{
        font-size:0.8em;
    }
    #detail-article .your-review input[type="text"], .your-review textarea{
        width:93%;
    }
    #detail-article .signup{
        width:98%;
    }
    #detail-article .signup input[type="submit"]{
        width:69px;
    }
}
