                    <div class="cart">
                        <p><span><a href="{{ path('front_cart') }}">Panier :</a></span></p>
                        <div id="dd" class="wrapper-dropdown-2"> {{total}} €
                            <ul class="dropdown">
                                {% if nbventes == 0 %}
                                    <li class="no-pointer">Vous n'avez aucun article dans votre panier.</li>
                                {% else %}
                                    <li><a class="no-decoration" href="{{ path('front_cart') }}">Vous avez {{nbventes}} articles dans votre panier.</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>