/****** J'ai préfixé de #slider-accueil tous les éléments car il y a un conflit avec le css de la page article (preview.html)*****/ 

#slider-accueil #slider { 
    background:#FFF;
    border:1px solid #EEE;
    height: 100%;
    overflow: hidden;
    position: relative; 
    margin:0px 0; 
}								  
/* DEFAULT is for three panels in width, adjust as needed
   This only matters if JS is OFF, otherwise JS sets this. */								  
#slider-accueil #mover { 
    width: 3600px; 
    position: relative;
}
#slider-accueil .slide { 
    padding:24px 25px; 
    width:31%; 
    float: left; 
    position: relative;
    left: 130px;
}
#slider-accueil .slider-text{
    float:left;
    width:47%;
    padding-left:4%;
    padding-top:3%;
}
#slider-accueil .slider-img{
    float:left;
    width:42%;
}
#slider-accueil .slide h1{ 
    font-size:2.5em; 
    font-weight:bold;
    color:#CD1F25; 
    text-transform:uppercase;
}
#slider-accueil .slide h1 span{
    font-size:3em;
}
#slider-accueil .slide h2{ 
    font-size:2em;
    color:#999;
    font-family: 'ambleregular';
}
#slider-accueil .slide h2 span{ 
    color:#CD1F25;
    font-size:2em; 
}
#slider-accueil .slide p {
    color:#222;
    font-size:0.9em; 
    padding:5px 0;	   
    line-height:1.8em; 
}
#slider-accueil .slide p span{
    color:#0B86AA;
}
#slider-accueil .slide h3{ 
    font-size:1.2em; 
    color: #999;  
    text-transform:uppercase;
    padding-top:10px; 
}
#slider-accueil .features_list{
    padding-top:5px;
}
#slider-accueil .features_list h4{	  
    font-family: 'ambleregular'; 
    font-size:1.2em; 
    color:#222;
}
#slider-accueil .features_list li{
    font-size:0.9em;
    color:#888888;
    padding:8px 20px;
    background:url(../../../bundles/ulyssefront/images/list_img.png) no-repeat 0px;
    cursor:pointer;
}
#slider-accueil .features_list li:hover{
    color:#DDD;
}
#slider-accueil .button {
    font-size: 1.2em;
    padding:8px 15px;
    text-shadow:0px 1px 1px rgba(94, 94, 94, 0.9);
}
#slider-accueil .button {
    margin-top:20px;
    display: inline-block;
    background:#CD1F25;
    color: #FFF;
    text-decoration: none;
    border-radius:5px;
    outline: 0;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
#slider-accueil .button:hover {
    text-shadow: 0px 1px 1px #000;
    background:#CD1F25;
    -webkit-transform:scale(1.05);
    -moz-transform:scale(1.05);
    -ms-transform:scale(1.05);
    -o-transform:scale(1.05);
    transform:scale(1.05);
}
#slider-accueil .button-icon-download{
    margin-left:15px;
}
#slider-accueil #slider-stopper { 
    position: absolute; 
    top: 1px; 
    right: 20px; 
    background: #ac0000; 
    color: white;
    padding: 3px 8px; 
    font-size: 10px; 
    text-transform: uppercase; 
    z-index: 1000; 
}
@media only screen and (max-width: 1024px) {
    #slider-accueil .slide h1 {
        font-size:2em;
    }
}
@media only screen and (max-width:800px) {
    #slider-accueil .slider-text{
        width:55%;
        float:none;
    }
    #slider-accueil .slider-img{
        float:none;
        text-align:center;
    }

}
@media only screen and (max-width:320px) {
    #slider-accueil .slider-text{
        width:31%;
        padding:0 1% 0 0;
    }
    #slider-accueil .slider-img{
        width:30%;
    }
}