{% extends "::base_front.html.twig" %}

{% block body %}

<div id="detail-article" class="main">
    <div class="content">
        <div class="section group">
            <div class="rightsidebar span_3_of_1">
                {{ render(controller('UlysseFrontBundle:Categorie:menu')) }}
            </div>
            <div class="cont-desc span_1_of_2">
                <div class="product-details">				
                    <div class="grid images_3_of_2">
                        <div id="container">
                            <div id="products_example">
                                <div id="products">
                                    <div class="slides_container">
                                        <a href="#"><img src="{{ asset( vente.article.images[0].getWebPath() ) }}" alt="" /></a>
                                        <a href="#"><img src="{{ asset('bundles/ulyssefront/images/no_image_1.jpg')}}" alt="" /></a>
                                        <a href="#"><img src="{{ asset('bundles/ulyssefront/images/no_image_1.jpg')}}" alt="" /></a>
{#                                        <a href="#"><img class="img-responsive" src="{{ asset('bundles/ulyssefront/images/productslide-4.jpg')}}" alt="" /></a>
                                        <a href="#"><img class="img-responsive" src="{{ asset('bundles/ulyssefront/images/productslide-5.jpg')}}" alt="" /></a>
                                        <a href="#"><img class="img-responsive" src="{{ asset('bundles/ulyssefront/images/productslide-6.jpg')}}" alt="" /></a>#}
                                    </div>
                                    <ul class="pagination">
                                        <li><a href="#"><img src="{{ asset( vente.article.images[0].getWebPath() ) }}" alt="" /></a></li>
                                        <li><a href="#"><img src="{{ asset('bundles/ulyssefront/images/no_image_1.jpg')}}" alt="" /></a></li>
                                        <li><a href="#"><img src="{{ asset('bundles/ulyssefront/images/no_image_1.jpg')}}" alt="" /></a></li>
{#                                        <li><a href="#"><img src="{{ asset('bundles/ulyssefront/images/thumbnailslide-4.jpg')}}" alt="" /></a></li>
                                        <li><a href="#"><img src="{{ asset('bundles/ulyssefront/images/thumbnailslide-5.jpg')}}" alt="" /></a></li>
                                        <li><a href="#"><img src="{{ asset('bundles/ulyssefront/images/thumbnailslide-6.jpg')}}" alt="" /></a></li>#}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="desc span_3_of_2">
                        <h2>{{ vente.article.nom }}</h2>
                        <p>{{ vente.article.description | length > 60 ? vente.article.description | slice(0,60) ~ ' ...' : vente.article.description  }}</p>

                        <div class="price">
                            <p>Prix: <span>{{ vente.prix }} €</span></p>
                        </div>
                        <a class="btn btn-success sale-your" href="{{ path('front_add_sale', {'article_id' : vente.article.id}) }}" role="button">Vendez le vôtre</a>
                        
                        <div class="available">
                            <p class="available">Etat : <span class="color-green">{{ vente.etat.libelle }}</span></p>
                            <p class="available">Disponibilité : <span class="color-red">{{ vente.stock }}</span></p>
                            <p class="available">Vendeur : <span class="text-primary">{{ vente.vendeur.username}}</span></p>
                            {% if vente.stock > 0 %}
                                <form action="{{ path('front_cart_add', {'id_vente': vente.id}) }}" method="POST">
                                    <ul>
                                        <li>Quantité souhaitée:
                                            <select name="quantite" type="number">
                                                {% for i in 1..vente.stock %}
                                                    {% if i==1 %}
                                                        <option selected>{{ i }}</option>
                                                    {% else %}
                                                        <option>{{ i }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </li>
                                    </ul>
                                    </div>
                                   {#<div class="share-desc">
                                        <div class="button" name="submit" type="submit"><span><a href="#">Ajouter au Panier</a></span></div>					
                                        <div class="clear"></div>
                                    </div>
                                    <div class="share-desc">
                                        <button class="button" name="submit" type="submit"><div>Ajouter au Panier</div></button>				
                                        <div class="clear"></div>
                                    </div>#}
                                    <div class="share-desc">
                                        <input class="btn" type="submit" value="Ajouter au Panier">				
                                        <div class="clear"></div>
                                    </div>
                                </form>
                            {% endif %}
                    </div>
                    <div class="clear"></div>
                    
                    <script>
                        $('.share-desc .button a').click(function(){
                            return false;
                        });
                    </script>
                    
                </div>
                <div class="product_desc">	
                    <div id="horizontalTab">
                        <ul class="resp-tabs-list">
                            <li>Détail du Produit</li>
                            <li>Informations Complémentaires</li>
                            <li>Politique de retour</li>
                            <div class="clear"></div>
                        </ul>
                        <div class="resp-tabs-container">                             
                            <div class="product-desc">
                                <p>{{ vente.article.description }}</p>
                                <p><strong>Description complémentaire : </strong>{{ vente.commentaire }}</p>			
                            </div>
                            <div class="product-tags">
                                <ul>
                                    <li>Moyenne des commentaires client : <a href="#">Soyez le premier à commenter ce produit</a></li>
                                    <li>Numéro du modèle du produit : VNA780E1</li>
                                    <li>Date de mise en ligne : {{ vente.date|date('d m Y H:i') }}</li>
                                </ul>
                            </div>	

                            <div class="review">
                                <p><strong>Politique de retour Ulysse.fr : </strong> Si vous n’êtes pas satisfait d'un produit que vous avez commandé auprès d'Ulysse.fr ou si celui-ci est défectueux ou endommagé, vous pouvez nous le retourner sous 30 jours suivant la date de livraison, et nous vous rembourserons ou remplacerons l'intégralité de l'article. Pour plus d’informations, veuillez consulter notre page en savoir plus sur les Retours et remboursements.</p>			
                            </div>
                        </div>
                    </div>
                </div>
                
                
{#<table class="records_list table">
    <thead>
        <tr>
            <th>Prix</th>
            <th>Stock</th>
            <th>Etat</th>
            <th>Commentaire</th>
            <th>Vendeur</th>
            <th>Date</th>

        </tr>
    </thead>
    <tbody>
    {% for vente1 in ventes %}
        <tr>

            <td>{{ vente1.prix }}€</td>
            <td>{{ vente1.stock }}</td>
            <td>{{ vente1.etat.libelle }}</td>
            <td>{{ vente1.commentaire }}</td>
            <td>{{ vente1.vendeur.username}}</td>
            <td>{{ vente1.date|date('Y-m-d H:i:s') }}</td>
            <form action="{{ path('front_cart_add', {'id_vente': vente1.id}) }}" method="POST">
                <td><input type="number" name="quantite" value="1"></td>
                <td><input type="submit" value="Ajouter au panier"></td>
            </form>
        </tr>
    {% endfor %}
    </tbody>
</table>#}


                   
                <div class="content_bottom">
                    <div class="heading">
                        <h3>Offres Similaires d'autres Vendeurs</h3>
                    </div>
                    <div class="see">
                        <p><a href="{{path('front_list_article')}}">Voir tous les Produits</a></p>
                    </div>
                    <div class="clear"></div>
                 </div>
                    {% if ventes | length > 1 %}
                        {% set compteur = 0 %}
                        {% set compteur2 = 0 %}
                        {% for vente1 in ventes%}
                            {% if compteur%4==0 or compteur == 0 %}
                                {% set compteur2 = compteur + 3 %}
                                <div class="section group">
                            {% endif %}
                            {% if ventes[compteur].id != vente.id %}
                                <div class="grid_1_of_4 images_1_of_4">
                                    <a href="{{ path('front_detail_article', { 'id': vente1.id }) }}">
                                        {% if vente1.article.images[0].path is not null %}
                                            <img style="min-height: 167px; max-height: 167px;" src="{{ asset( vente1.article.images[0].getWebPath() ) }}" alt="" />
                                        {% else %}
                                            <img style="min-height: 167px; max-height: 167px;" src="{{ asset('bundles/ulyssefront/images/no_image_1.jpg')}}" alt="" />
                                        {% endif %}
                                    </a>
                                    <div class="price-details">
                                        <div class="price-number">
                                            <p><span style="white-space: nowrap;margin-right:40px;" class="rupees">{{ vente1.prix }}€</span><span style="color:#5CB85C;white-space: nowrap;">{{ vente1.etat.libelle }}</span></p>

                                            {#<p><span class="rupees">{{ vente1.etat.libelle }}</span></p>#}
                                        </div>
                                        <div class="price" style="border:none">
                                            <div class="add-cart" style="float:none">								
                                                <h4><a class="detail" href="{{path('front_detail_article', {'id' : vente1.id }) }}">Détail</a></h4>
                                                <h4>
                                                    <a {{ vente1.actif == false ? 'class="desactive_bouton"' : '' }} href="{{path('front_cart_add', {'id_vente' : vente1.id }) }}">Ajouter au Panier</a>
                                                </h4>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if compteur == compteur2 %}
                                </div>
                            {% endif %}
                            {% set compteur = compteur + 1 %}
                        {% endfor %}
                    {% else %}
                        <div style="margin-top: 20px; margin-left: 20px;">
                            <p style="color:#F0AD4E;">Il n'y a pas d'autres offres de ventes.</p>
                        </div>
                    {% endif %}

                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
