{% extends '::base_front.html.twig' %}

{% block body -%}
<div class="header_slide">
    <div class="header_bottom_left">
    {{ render(controller('UlysseFrontBundle:Categorie:menu')) }}				
    </div>
    <div class="header_bottom_right">
        <div class="section group">
            

{#    <form action="/ulysse/web/app_dev.php/vente" method="post">

                      <div>

                          <label class="required" for="ulysse_frontbundle_vente_article">Article</label>
                          <select name="ulysse_frontbundle_vente[article]" id="ulysse_frontbundle_vente_article">
                              {% for article in form.children['article'].vars['choices'] %}
                              <option value="{{article.value}}">{{article.data.nom}}</option>
                              {% endfor %}
                          </select>
                      </div>
                      <div>

                            <label class="required" for="ulysse_frontbundle_vente_stock">Stock</label>
                          <input type="number" required="required" name="ulysse_frontbundle_vente[stock]" id="ulysse_frontbundle_vente_stock">
                      </div>
                      <div>

                        <label class="required" for="ulysse_frontbundle_vente_etat">Etat</label>
                        <select name="ulysse_frontbundle_vente[etat]" id="ulysse_frontbundle_vente_etat">
                            {% for etat in form.children['etat'].vars['choices'] %}
                                <option value="{{etat.value}}">{{etat.label}}</option>
                            {% endfor %}
                        </select>
                      </div>
                      <div>

                            <label class="required" for="ulysse_frontbundle_vente_prix">Prix</label>
                          <input type="number" required="required" name="ulysse_frontbundle_vente[prix]" id="ulysse_frontbundle_vente_prix">
                      </div>
                      <div>

                            <label class="required" for="ulysse_frontbundle_vente_commentaire">Commentaire</label>
                          <input type="text" required="required" name="ulysse_frontbundle_vente[commentaire]" id="ulysse_frontbundle_vente_commentaire">
                      </div>
                      <div>
                              <div><button name="ulysse_frontbundle_vente[submit]" id="ulysse_frontbundle_vente_submit" type="submit">Ajouter la vente</button></div>
                      </div>
                        {{ form_widget(form._token) }}
                 </form>#}

{#                <ul class="record_actions">
                    <li>
                        <a href="{{ path('front_create_article') }}">
                           Vous n'avez pas trouvé votre article? Ajoutez le vôtre!
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('front_list_article') }}">
                            Back to the article list
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('front_homepage') }}">
                            Revenir à l'accueil
                        </a>
                    </li>
                </ul>#}
            
            <div class="panel panel-primary">
                <div class="panel-heading"><h4>Proposer une Vente</h4></div>
                <div class="panel-body">
                     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
                        <form action="/ulysse/web/app_dev.php/vente" method="post">

                                <div class="form-group">
                                    <label for="ulysse_frontbundle_vente_article">Article</label>
                                    <select class="form-control" name="ulysse_frontbundle_vente[article]" id="ulysse_frontbundle_vente_article">
                                        {% for article in form.children['article'].vars['choices'] %}
                                            {% if article.data.id == preselected_article %}
                                                <option value="{{article.value}}" selected>{{article.data.nom}}</option>
                                            {% else %}
                                                <option value="{{article.value}}">{{article.data.nom}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="ulysse_frontbundle_vente_stock">Stock</label>
                                    <input class="form-control" type="number" required="required" name="ulysse_frontbundle_vente[stock]" id="ulysse_frontbundle_vente_stock">
                                </div>
                                <div class="form-group">
                                    <label for="ulysse_frontbundle_vente_etat">Etat</label>
                                    <select class="form-control" name="ulysse_frontbundle_vente[etat]" id="ulysse_frontbundle_vente_etat">
                                        {% for etat in form.children['etat'].vars['choices'] %}
                                            <option value="{{etat.value}}">{{etat.label}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="ulysse_frontbundle_vente_prix">Prix</label>
                                    <input class="form-control" type="number" required="required" name="ulysse_frontbundle_vente[prix]" id="ulysse_frontbundle_vente_prix">
                                </div>
                                <div class="form-group">
                                    <label for="ulysse_frontbundle_vente_commentaire">Description complémentaire</label>
                                    <input class="form-control" type="text" required="required" name="ulysse_frontbundle_vente[commentaire]" id="ulysse_frontbundle_vente_commentaire">
                                </div>
                                <br>
                                <button class="btn btn-primary" name="ulysse_frontbundle_vente[submit]" id="ulysse_frontbundle_vente_submit" type="submit">Ajouter la vente</button>
                                {{ form_widget(form._token) }}
                        </form>

                    </div>
                </div>
            </div>
            <ul class="record_actions">
                <li>
                    <a href="{{ path('front_create_article') }}">
                       Vous n'avez pas trouvé votre article? Ajoutez le vôtre!
                    </a>
                </li>
                <li>
                    <a href="{{ path('front_list_article') }}">
                        Revenir à la liste des Articles
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>

    <div class="clear"></div>
{% endblock %}
