{% extends '::base_back.html.twig' %}
{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Créer Sous-Catégorie 
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="{{ path('back_home') }}">Tableau de bord</a>
                </li>
                <li class="active">
                    <i class="fa fa-file"></i><a href="{{ path('back_categories') }}"> Sous-Catégories</a>
                </li>
                <li class="active">
                    <i class="fa fa-plus"></i> Créer sous-catégorie
                </li>
            </ol>
        </div>
    </div>
     <div class="row">  
         <div class="col-lg-6">
            <form role="form" name="ulysse_backbundle_sub_categorie" method="post" action="{{ path('back_sub_category_create') }}" enctype="multipart/form-data">
                 <div class="form-group">                
                    <label for="ulysse_backbundle_sub_categorie_categorie" class="required">Catégorie</label>
                    <select class="form-control" id="ulysse_backbundle_sub_categorie_categorie" name="ulysse_backbundle_sub_categorie[categorie]">
                        {% for categorie in form.children['categorie'].vars['choices'] %}
                            <option value="{{categorie.value}}">{{categorie.label}}</option>
                        {% endfor %}
                    </select>
                </div>  
                <div class="form-group">
                    <label for="ulysse_backbundle_sub_categorie_libelle" class="required">Libelle</label>
                    <input class="form-control" type="text" id="ulysse_backbundle_sub_categorie_libelle" name="ulysse_backbundle_sub_categorie[libelle]" required="required" maxlength="255">
                    <p class="help-block">Entrez le libellé de votre nouvelle sous-catégorie.</p>
                </div>

             <button type="submit" class="btn btn-default" id="ulysse_backbundle_sub_categorie_submit" name="ulysse_backbundle_sub_categorie[submit]">Créer</button>
                {{ form_widget(form._token) }}
            </form>
         </div>
     </div>
{% endblock %}
