{% extends '::base_back.html.twig' %}

{% block body -%}
    <h1>Sous-Categorie</h1>
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ entity.libelle }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('back_sub_categories') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('back_sub_category_update', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
     <li>
        <a href="{{ path('back_sub_category_delete', { 'id': entity.id }) }}">
            delete
        </a>
    </li>
</ul>><a href="{{ path('back_home') }}" title="">Revenir à l'Accueil</a></li>
{% endblock %}
