{% extends '::base_back.html.twig' %}
{% block body -%}
   <div class="row">
       <div class="col-lg-12">
           <h1 class="page-header">
               Modifier Sous-Catégorie n° {{ entity.id}} : {{ entity.libelle}}
           </h1>
           <ol class="breadcrumb">
               <li>
                   <i class="fa fa-dashboard"></i>  <a href="{{ path('back_home') }}">Tableau de bord</a>
               </li>
               <li class="active">
                   <a href="{{ path('back_sub_categories') }}"> <i class="fa fa-bar-chart-o"></i> Sous-Catégories</a>
               </li>
               <li class="active">
                   <i class="fa fa-bar-chart-o"></i> Modifier Sous-Catégorie n° {{ entity.id}} : {{ entity.libelle}}
               </li>
           </ol>
       </div>
               <div>
       <a href="{{ path('back_sub_category_create', { 'id': entity.id }) }}" class="btn btn-primary btn-lg" role="button"><i class="fa fa-fw fa-plus"></i> Créer sous-categorie</a>
       <a href="{{ path('back_sub_category_delete', { 'id': entity.id }) }}" class="btn btn-primary btn-lg" role="button"><i class="fa fa-fw fa-close"></i> Supprimer</a>
   </div><br><br>
   <div class="col-lg-6">
        <form name="ulysse_backbundle_sub_categorie" method="post" action="{{path('back_sub_category_update', {'id':entity.id})}}">
            <input name="_method" value="PUT" type="hidden">

            <div id="ulysse_backbundle_sub_categorie">
                 <div class="form-group">                
                    <label for="ulysse_backbundle_sub_categorie_categorie" class="required">Catégorie</label>
                    <select class="form-control" id="ulysse_backbundle_sub_categorie_categorie" name="ulysse_backbundle_sub_categorie[categorie]">
                        {% for categorie in form.children['categorie'].vars['choices'] %}
                            {% if categorie.data == entity.categorie %}
                            <option value="{{categorie.value}}" selected>{{categorie.label}}</option>
                            {% else %}
                            <option value="{{categorie.value}}">{{categorie.label}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>  
                <div class='form-group'>                
                    <label for="ulysse_backbundle_sub_categorie_libelle">Libelle</label>
                    <input id="ulysse_backbundle_sub_categorie_libelle" class='form-control' name="ulysse_backbundle_sub_categorie[libelle]" required="required" maxlength="255" value="{{entity.libelle}}" type="text">
                </div>

                <div>
                    <button type="submit" id="ulysse_backbundle_categorie_submit" name="ulysse_backbundle_categorie[submit]">Update</button>
                </div>
                {{ form_widget(form._token) }}
            </div>
        </form>
   </div>
</div>
{% endblock %}