{% extends '::base_back.html.twig' %}
{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Catégorie n° {{ entity.id}} : {{ entity.libelle}}
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="{{ path('back_home') }}">Tableau de bord</a>
                </li>
                <li class="active">
                    <a href="{{ path('back_categories') }}"> <i class="fa fa-bar-chart-o"></i> Catégories</a>
                </li>
                <li class="active">
                    <i class="fa fa-bar-chart-o"></i> Catégories
                </li>
            </ol>
        </div>
    </div>
    <div>
        <a href="{{ path('back_category_create', { 'id': entity.id }) }}" class="btn btn-primary btn-lg" role="button"><i class="fa fa-fw fa-plus"></i> Créer categorie</a>
        <a href="{{ path('back_category_update', { 'id': entity.id }) }}" class="btn btn-primary btn-lg" role="button"><i class="fa fa-fw fa-edit"></i> Modifier</a>
        <a href="{{ path('back_category_delete', { 'id': entity.id }) }}" class="btn btn-primary btn-lg" role="button"><i class="fa fa-fw fa-close"></i> Supprimer</a>
    </div><br><br>
    <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Sous categories associées</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>libelle</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for key,sous_categorie in sous_categories %}
                                    {% if key < 10 and sous_categorie.libelle |length > 0 %}
                                        <tr>
                                            <td>{{ sous_categorie.id }}</td>
                                            <td>{{ sous_categorie.libelle }}</td>
                                            <td><a href="{{ path('back_sub_category_detail', { 'id': sous_categorie.id }) }}" title="voir"><i class="fa fa-fw fa-folder-open"></i></a></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% if sous_categories | length > 10%}
                        <div class="text-right">
                            <a href="#">Voir les sous categories associées <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}
