{% extends '::base_back.html.twig' %}

{% block body %}
<div id="detail_article">
  <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="{{ path('back_home') }}">Tableau de bord</a>
                </li>
                <li>
                    <i class="fa fa-bar-chart-o"></i><a href="{{ path('back_articles') }}"> Articles </a>
                </li>
                 <li class="active">
                    {{ entity.nom }}
                </li>
            </ol>
        </div>
    </div>

  <div>
        <a href="{{ path('back_article_create') }}" class="btn btn-primary btn-lg" role="button"><i class="fa fa-fw fa-plus"></i> Créer article</a>
        <a href="{{ path('back_article_update', { 'id': entity.id }) }}" class="btn btn-primary btn-lg" role="button"><i class="fa fa-fw fa-edit"></i> Modifier </a>
        {% if entity.actif == 1 %}
            <a href="{{ path('back_article_deactivate', { 'id': entity.id }) }}" class="btn btn-primary btn-lg" role="button"><i class="fa fa-fw fa-check-square-o"></i> Désactiver </a>
        {% else %}
            <a href="{{ path('back_article_activate', { 'id': entity.id }) }}" class="btn btn-primary btn-lg" role="button"><i class="fa fa-fw fa-square-o"></i> Activer</a>
        {% endif %}
        <a href="{{ path('back_article_delete', { 'id': entity.id }) }}" class="btn btn-primary btn-lg" role="button"> <i class="fa fa-fw fa-close"></i> Supprimer</a>
        {# Affichage des éventuels des messages flash #}
        {% for flashMessage in app.session.flashbag.get('information') %}
                <div class="alert alert-danger perso-alert" role="alert">
                    {{ flashMessage }}
                </div>
        {% endfor %}
  </div><br><br>
    
  <div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-body" style="padding: 5px;">
               {% if entity.images is not empty %}
                    <td><img src="{{ asset(entity.images[0].getWebPath()) }}" width="95%" height="95%"></td>
                {% else %}
                    <td></td>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-lg-6" >
        <div class="panel panel-default" style="border: none;">
            <div class="panel-body" style="padding: 0;">
                <h2 class="page-header" style="margin-top: 0;border-bottom: 1px solid red;">{{ entity.id }} . {{ entity.nom }}</h2>
                <p>
                    {% if entity.actif == 1 %} en ligne | {% else %} Inactif |  {% endif %}
                    Crée par <a href="{{ path('back_user_detail', { 'id': entity.createur.id }) }}" title="voir profile">{{ entity.createur.prenom }} {{ entity.createur.nom }} </a> |
                    {% if entity.admin | length != 0 %} Validé par {{entity.admin.nom}} {% endif %} 
                </p><br>
                <p>DESCRIPTION <span style="display: block;border: 2px #cccccc dashed;"></span> </p>
                <p>{{ entity.description }} </p>
            </div>
        </div>
    </div>
  </div>
    <div class="row">
    {% if ventes| length == 0 %}
    <p> Aucune vente n'est associée à cet article. </p>
    {% elseif ventes| length > 0 %}
      <!------------------------------------ Ventes lies a l'article -->
      <div class="col-lg-10">
        {% if ventes| length == 1 %} 
        <h2> Vente associée</h2>
        {% elseif ventes| length > 1 %} 
        <h2> Ventes associées</h2>
        {% endif %} 
          <div class="table-responsive">
              <table class="table table-hover table-striped">
                  <thead>
                      <tr>
                          <th> </th>
                          <th> Date création </th>
                          <th> Vendeur </th>
                          <th> Etat </th>
                          <th> Prix</th>
                          <th> Quantité </th>
                          <th> </th>
                          <th>  </th>
                      </tr>
                  </thead>
                  <tbody>
                     {% for vente in ventes %}
                      <tr>
                          <td>{{ vente.id }}</td>
                          <td>{{ vente.date.format('d/m/Y') }}</td>
                          <td>{{ vente.vendeur.nom }}</td>
                          <td>{{ vente.etat.libelle }}</td>
                          <td>{{ vente.prix }}</td>
                          <td>{{ vente.stock }}</td>
                          <td> {% if vente.actif == 1 %} en ligne {% endif %} </td>
                          <td><a href="{{ path('back_sale_detail', { 'id': vente.id }) }}" title="voir"><i class="fa fa-fw fa-folder-open"></i></a> </td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
          </div>
       </di>
    {% endif %}
   </div>
</div>
{% endblock %}