{% extends '::base_back.html.twig' %}
{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Articles 
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="{{ path('back_home') }}">Tableau de bord</a>
                </li>
                <li class="active">
                    <i class="fa fa-bar-chart-o"></i> Articles
                </li>
            </ol>
        </div>
    </div>
    <div>
        <a href="{{ path('back_article_create') }}" class="btn btn-primary btn-lg" role="button"><i class="fa fa-fw fa-plus"></i> Créer article</a>
    </div><br><br>
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                   <th>Id</th>
                   <th>Nom</th>
                   <th>Description</th>
                   <th></th>
                   <th><center>Actions</center></th>
                </tr>
            </thead>
            <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('back_article_detail', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.description }}</td>
                <td>{% if entity.actif == 1 %} en ligne {% endif %}</td>
                <td>
                    <a href="{{ path('back_article_detail', { 'id': entity.id }) }}" title="voir"><i class="fa fa-fw fa-folder-open"></i></a>
                    <a href="{{ path('back_article_update', { 'id': entity.id }) }}" title="modifier"><i class="fa fa-fw fa-edit"></i></a>
                    {% if entity.actif == 1 %}
                     <a href="{{ path('back_article_deactivate', { 'id': entity.id }) }}" title="desactiver">
                         <i class="fa fa-fw fa-check-square-o"></i>
                     </a>
                        {% else %}
                     <a href="{{ path('back_article_activate', { 'id': entity.id }) }}" title="activer">
                         <i class="fa fa-fw fa-square-o"></i>
                     </a>
                    {% endif %}
                    <a href="{{ path('back_article_delete', { 'id': entity.id }) }}" title="Supprimer">
                            <i class="fa fa-fw fa-close"></i>
                        </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}
