{# empty Twig template #}
{% extends '::base_back.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Modifier article n° {{ entity.article.id }} : {{ entity.article.nom }}
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="{{ path('back_home') }}">Tableau de bord</a>
                </li>
                <li class="active">
                    <i class="fa fa-file"></i><a href="{{ path('back_articles') }}"> Articles</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> Modifier article n° {{ entity.article.id }} : {{ entity.article.nom }}
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <form name="ulysse_backbundle_image" method="post" action="{{ path('back_article_update', { 'id': entity.article.id }) }}" enctype="multipart/form-data">
              <div class="form-group">
                    <label for="ulysse_backbundle_image_article_nom" class="required">Nom</label>
                    <input type="text" id="ulysse_backbundle_image_article_nom" name="ulysse_backbundle_image[article][nom]" required="required" maxlength="255" value="{{entity.article.nom}}">
                    <p class="help-block">Example block-level help text here.</p>
                </div>
                <div class="form-group">                
                    <label for="ulysse_backbundle_image_article_description" class="required">Description</label>
                   <textarea id="ulysse_backbundle_image_article_description" name="ulysse_backbundle_image[article][description]" required="required">{{entity.article.description}}</textarea>
                </div>
                <div class="form-group">                
                    <label for="ulysse_backbundle_image_article_marque" class="required">Marque</label>
                    <select class="form-control" id="ulysse_backbundle_image_article_marque" name="ulysse_backbundle_image[article][marque]">
                        {% for marque in form.children['article'].children['marque'].vars['choices'] %}
                        <option value="{{marque.value}}" {% if entity.article.marque.libelle == marque.label %}selected="selected" {% endif%}>{{marque.label}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">                
                    <label for="ulysse_backbundle_image_article_tag" class="required">Tag</label>
                       {% for key, tag in form.children['article'].children['tag'].children %}
                            <input class="form-control" type="text" id="{{ tag.vars["id"]}}" name="{{ tag.vars["id"]}}" required="required" maxlength="255" value="{{tag.vars["data"].libelle}}">
                            <br>
                        {% endfor %}
                </div>
                <div class="form-group">
                    <label for="ulysse_backbundle_image_article_sous_categorie" class="required">Sous categorie</label>
                    <select class="form-control" id="ulysse_backbundle_image_article_sous_categorie" name="ulysse_backbundle_image[article][sous_categorie]">  
                        {% for sous_categorie in form.children['article'].children['sous_categorie'].vars['choices'] %}
                            <option value="{{sous_categorie.value}}" {% if entity.article.SousCategorie.libelle == sous_categorie.label %}selected="selected" {% endif%}>{{sous_categorie.label}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">                
                    <label for="ulysse_backbundle_image_name" class="required">Nom image</label>
                    <input class="form-control" type="text" id="ulysse_backbundle_image_name" name="ulysse_backbundle_image[name]">
                </div>
                <div class="form-group">                
                    <label for="ulysse_backbundle_image_file"> Image </label>
                    <input type="file" id="ulysse_backbundle_image_file" name="ulysse_backbundle_image[file]" value="{{ entity.name}}">
                </div>
                <button type="submit" class="btn btn-default" id="ulysse_backbundle_image_submit" name="ulysse_backbundle_image[submit]">Update</button>
                {{ form_widget(form._token) }}  
            </form>
        </div>
    </div>
{% endblock %}
