{% extends '::base_back.html.twig' %}

{% block body -%}
    <h1>Article edit</h1>

<div id="ulysse_backbundle_image">
    <div>
        <label class="required">Article</label>
        <div id="ulysse_backbundle_image_article">
            {{ form_errors(form) }}
            <div>
                <label for="ulysse_backbundle_image_article_nom" class="required">Nom</label>
                <input id="ulysse_backbundle_image_article_nom" name="ulysse_backbundle_image[article][nom]" required="required" maxlength="255" value="iWatch" type="text">
            </div>
            <div>
                <label for="ulysse_backbundle_image_article_description" class="required">Description</label>
                <textarea id="ulysse_backbundle_image_article_description" name="ulysse_backbundle_image[article][description]" required="required">La montre connectée d'Apple.</textarea>
            </div>
                <div class="form-group">                
                    <label for="ulysse_backbundle_image_article_marque" class="required">Marque</label>
                    <select class="form-control" id="ulysse_backbundle_image_article_marque" name="ulysse_backbundle_image[article][marque]">
                        {% for marque in form.children['article'].children['marque'].vars['choices'] %}
                            <option value="{{marque.value}}">{{marque.label}}</option>
                        {% endfor %}
                    </select>
                </div>
            <div>
                <label for="ulysse_backbundle_image_article_tag" class="required">Tag</label>
                <select id="ulysse_backbundle_image_article_tag" name="ulysse_backbundle_image[article][tag][]" required="required" multiple="multiple">
                    <option value="6">Origine France</option>
                    <option value="7">Intel Inside</option>
                    <option value="8" selected="selected">Tactile</option>
                </select>
            </div>
            <div>
                <label for="ulysse_backbundle_image_article_sous_categorie" class="required">Sous categorie</label>
                <select id="ulysse_backbundle_image_article_sous_categorie" name="ulysse_backbundle_image[article][sous_categorie]">
  
                    <option value="18" selected="selected">Accessoires Mobile</option>
                    <option value="19">Tablettes &amp; liseuses</option>
                </select>
            </div>
        </div>
    </div>
    <div>
        <label for="ulysse_backbundle_image_name" class="required">Name</label>
        <input id="ulysse_backbundle_image_name" name="ulysse_backbundle_image[name]" required="required" value="iwatch" type="text">
    </div>
    <div>
        <label for="ulysse_backbundle_image_file">File</label>
        <input id="ulysse_backbundle_image_file" name="ulysse_backbundle_image[file]" type="file">
    </div>
    <div>
        <button type="submit" id="ulysse_backbundle_image_submit" name="ulysse_backbundle_image[submit]">Update</button>
    </div>
    {{ form_widget(form._token) }}
</div>
{% endblock %}