{% extends '::base_back.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Créer Tag 
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="{{ path('back_home') }}">Tableau de bord</a>
                </li>
                <li class="active">
                    <i class="fa fa-file"></i><a href="{{ path('back_tags') }}"> Tags</a>
                </li>
                <li class="active">
                    <i class="fa fa-plus"></i> Créer Tag
                </li>
            </ol>
        </div>
    </div>
     <div class="row">  
         <div class="col-lg-6">
            <form role="form" name="ulysse_backbundle_tag" method="post" action="{{ path('back_tag_create') }}" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="ulysse_backbundle_tag_libelle" class="required">Libelle</label>
                    <input class="form-control" type="text" id="ulysse_backbundle_tag_libelle" name="ulysse_backbundle_tag[libelle]" required="required" maxlength="255">
                    <p class="help-block">Entrez le libellé de votre nouvelle tag.</p>
                </div>
             <button type="submit" class="btn btn-default" id="ulysse_backbundle_tag_submit" name="ulysse_backbundle_tag[submit]">Créer</button>
                {{ form_widget(form._token) }}
            </form>
         </div>
     </div>
{% endblock %}