{% extends '::base_back.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Tags 
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="{{ path('back_home') }}">Tableau de bord</a>
                </li>
                <li class="active">
                    <i class="fa fa-bar-chart-o"></i> Tags
                </li>
            </ol>
        </div>
    </div>
    <div>
        <a href="{{ path('back_tag_create') }}" class="btn btn-primary btn-lg" role="button"><i class="fa fa-fw fa-plus"></i> Créer tag</a>
    </div><br><br>
    <div class="table-responsive">
        <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('back_tag_detail', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.libelle }}</td>
                <td>
                    <a href="{{ path('back_tag_detail', { 'id': entity.id }) }}" title="voir"><i class="fa fa-fw fa-folder-open"></i></a>
                    <a href="{{ path('back_tag_update', { 'id': entity.id }) }}" title="modifier"><i class="fa fa-fw fa-edit"></i></a>
                    <a href="{{ path('back_tag_delete', { 'id': entity.id }) }}" title="Supprimer">
                            <i class="fa fa-fw fa-close"></i>
                        </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}