{% extends '::base_back.html.twig' %}
{% block body -%}
   <div class="row">
       <div class="col-lg-12">
           <h1 class="page-header">
               Modifier Tag n° {{ entity.id}} : {{ entity.libelle}}
           </h1>
           <ol class="breadcrumb">
               <li>
                   <i class="fa fa-dashboard"></i>  <a href="{{ path('back_home') }}">Tableau de bord</a>
               </li>
               <li class="active">
                   <a href="{{ path('back_tags') }}"> <i class="fa fa-bar-chart-o"></i> Tags</a>
               </li>
               <li class="active">
                   <i class="fa fa-bar-chart-o"></i> Modifier Tag n° {{ entity.id}} : {{ entity.libelle}}
               </li>
           </ol>
       </div>
               <div>
       <a href="{{ path('back_tag_create', { 'id': entity.id }) }}" class="btn btn-primary btn-lg" role="button"><i class="fa fa-fw fa-plus"></i> Créer tag</a>
       <a href="{{ path('back_tag_delete', { 'id': entity.id }) }}" class="btn btn-primary btn-lg" role="button"><i class="fa fa-fw fa-close"></i> Supprimer</a>
   </div><br><br>
   <div class="col-lg-6">
        <form name="ulysse_backbundle_tag" method="post" action="{{path('back_tag_update', {'id':entity.id})}}">
            <input name="_method" value="PUT" type="hidden">

            <div id="ulysse_backbundle_tag">

                <div class='form-group'>                
                    <label for="ulysse_backbundle_tag_libelle">Libelle</label>
                    <input id="ulysse_backbundle_tag_libelle" class='form-control' name="ulysse_backbundle_tag[libelle]" required="required" maxlength="255" value="{{entity.libelle}}" type="text">
                </div>

                <div>
                    <button type="submit" id="ulysse_backbundle_tag_submit" name="ulysse_backbundle_tag[submit]">Update</button>
                </div>
                {{ form_widget(form._token) }}
            </div>
        </form>
   </div>
</div>
{% endblock %}