{% extends '::base_back.html.twig' %}

{% block body -%}
<div id="detail_article">
  <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="{{ path('back_home') }}">Tableau de bord</a>
                </li>
                 <li class="active">
                    {{ entity.nom }}
                </li>
            </ol>
        </div>
    </div>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ entity.libelle }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('back_status') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('back_status_update', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <a href="{{ path('back_status_delete', { 'id': entity.id }) }}">
            delete
        </a>
    </li>
</ul>
    <li><a href="{{ path('back_home') }}" title="">Revenir à l'Accueil</a></li>
{% endblock %}
