{% extends "::base_front.html.twig" %}
{% block body %}
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            {#<h1 class="text-center">A propos</h1>#}
            <img class="img-responsive center-block" src="{{ asset('bundles/ulyssefront/images/apropos.jpg')}}" alt="à propos d'ulysse" />
            <br>
            <br>
            <p class="text-justify">Découvrir Ulysse, c’est avant tout découvrir <span class="color-red" >une société que l’on espère à part.</span> Depuis le lancement, nous essayons de faire les choses un peu différemment. C’est l’avantage quand on part d’une feuille blanche… Et parce qu’une « société » c’est avant tout des personnes qui entretiennent des relations et des manières d’être communes, nous cherchons en permanence à ce que chacun au sein de la société se sente responsable de cet état d’esprit.</p>
            <br>
            <p class="text-justify"><span class="color-red" >Ulysse, c’est une histoire de proximité.</span> C’est comme une place de village : on se retrouve au « coin de la rue » ou au « café du coin » pour conclure une vente entre voisins. On partage avec un inconnu un moment de connivence autour d’une passion commune, à l’image d’une rencontre vue à la télé entre un fan de guitare pour gauchers et une rock star internationale. Cette proximité, on la cultive au quotidien chez Ulysse, à Paris comme à Montceau, là où nous avons ouvert nos bureaux. Sans doute l’héritage de nos origines suédoises et de ce fameux management de proximité à la scandinave.</p>
            <br>
            <p class="text-justify"><span class="color-red" >Chez Ulysse, nous nous côtoyons chaque jour</span> pour contribuer, via nos métiers respectifs, à créer la meilleure expérience possible pour nos utilisateurs. On se retrouve chaque matin, on échange sur les nouvelles fonctionnalités du site, on rit de blagues de geeks, on se dispute une place dans la roadmap, on partage un moment convivial… A chacun ses défis, ses convictions, ses envies, sa personnalité : la société grandit de nos petites différences, dans un cadre que chacun comprend, partage et défend. C’est ce contexte qui nous permet d’exercer au mieux notre métier, et c’est de cette recherche d’excellence que se nourrit la confiance dans laquelle nous évoluons quotidiennement.</p>
            <br>
            <p class="text-justify">Finalement, au même titre que ce sont les utilisateurs qui parlent le mieux de notre service, qui le font vivre et qui l’ont fait évoluer pour répondre aux changements de notre manière de consommer et d’échanger, <span class="color-red" >ce sont les collaborateurs qui décrivent le mieux ce qu’est et ce que doit être notre société.</span> Pour vous permettre de bien comprendre comment ça marche de l’intérieur, le plus simple était donc de leur donner la parole comme lors de nos enquêtes internes qui, si elles nous consacrent parmi les sociétés où il fait bon travailler, permettent avant tout de savoir comment continuer à faire grandir ce projet qui se développe très vite depuis son lancement, un beau matin d’avril 2006.</p>
            <br>
            <h4 class="text-center"><strong>ULYSSE EST PLUS QU’UN SIMPLE SITE INTERNET… VENEZ VOIR PAR VOUS-MÊME !</strong></h4>
            <br>    
        </div>
    </div>
</div>
{% endblock %}
