{% extends '::base_front.html.twig' %}

{% block body -%}
    <div class="main">
    <div class="container">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="content">
            <div class="section group">
                <div class="col span_2_of_3" style="margin-left: 19%; margin-top: 3%;">
                    <div class="contact-form">
                        <h2>Bienvenue <span style="color:#337AB7; display: initial;">{{ user.prenom }}</span></h2>
                        <h4>Pour contacter l'administrateur du site, merci de remplir ce formulaire.</h4>
                        <br>
                        <form method="post" action="{{path('front_contact-admin')}}">
                            <div>
                                <span><label>Email</label></span>
                                <span><input name="email" type="text" class="textbox"></span>
                            </div>
                            <div>
                                <span><label>Sujet</label></span>
                                <span><input name="subject" type="text" class="textbox"></span>
                            </div>
                            <div>
                                <span><label>Message</label></span>
                                <span><textarea name="message"> </textarea></span>
                            </div>
                            <div>
                                <span><input type="submit" name="submit" value="Envoyer" class="myButton"></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>		
        </div> 
    </div>
    </div>
    </div>
{% endblock %}