{% extends "::base_front.html.twig" %}
{% block body %}
    <div class="main">
        <div class="content">
            <div class="section group">
                <div class="col span_2_of_3">
                    <div class="contact-form">
                        <h2>Contactez-Nous</h2>
                        <form method="post" action="{{path('front_contact')}}">
                            <div>
                                <span><label>Email</label></span>
                                <span><input name="userEmail" type="text" class="textbox"></span>
                            </div>
                            <div>
                                <span><label>Sujet</label></span>
                                <span><input name="userSubject" type="text" class="textbox"></span>
                            </div>
                            <div>
                                <span><label>Message</label></span>
                                <span><textarea name="userMsg"> </textarea></span>
                            </div>
                            <div>
                                <span><input type="submit" name="submit" value="Envoyer" class="myButton"></span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col span_1_of_3">
                    <div class="contact_info">
                        <h3>Nous trouver</h3>
                        <div class="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2625.507856336819!2d2.3883429000000005!3d48.8485254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6720cce5cd70d%3A0x5852de9c03b61b3f!2s25+Rue+Claude+Tillier%2C+75012+Paris!5e0!3m2!1sfr!2sfr!4v1435506770974" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="company_address">
                        <h3>Informations :</h3>
                        <p>Ulysse</p>
                        <p>25 Rue Claude Tillier</p>
                        <p>75012 Paris</p>
                        <p>Téléphone: 01 55 43 26 65</p>
                        <p>Email: <span>contact@ulysse.com</span></p>
                    </div>
                </div>
            </div>		
        </div> 
    </div>
{% endblock %}
