{% extends "::base_front.html.twig" %}
{% block body %}
    <div class="header_slide">
        <div class="header_bottom_left">
        {{ render(controller('UlysseFrontBundle:Categorie:menu')) }}				
        </div>
        <div class="header_bottom_right">					 
            <div id="slider-accueil" class="slider">					     
                <div id="slider">
                    <div id="mover">
                        <div id="slide-1" class="slide">			                    
                            <div class="slider-img">
                                <a href="{{ path('front_detail_article', { 'id': 20 }) }}"><img src="{{ asset('bundles/ulyssefront/images/slide-1-image.png')}}" alt="learn more" /></a>
                            </div>
                            <div class="slider-text">
                                <h1>VENTE<br><span>SOLDE</span></h1>
                                <h2>Promotion de 20%</h2>
                                <div class="features_list">
                                    <h4>Le meilleur du son pour votre salon!</h4>							               
                                </div>
                                <a href="{{ path('front_detail_article', { 'id': 20 }) }}" class="button">Détail</a>
                            </div>			               
                            <div class="clear"></div>				
                        </div>	
                        <div class="slide">
                            <div class="slider-text">
                                <h1>VENTE<br><span>SOLDE</span></h1>
                                <h2>Promotion jusqu'a 40%</h2>
                                <div class="features_list">
                                    <h4>Un écran qui donne accès à tout le cloud de samsung.</h4>							               
                                </div>
                                <a href="{{ path('front_detail_article', { 'id': 18 }) }}" class="button">Détail</a>
                            </div>		
                            <div class="slider-img">
                                <a href="{{ path('front_detail_article', { 'id': 18 }) }}"><img src="{{ asset('bundles/ulyssefront/images/slide-3-image.jpg') }}" alt="learn more" /></a>
                            </div>						             					                 
                            <div class="clear"></div>				
                        </div>
                        <div class="slide">						             	
                            <div class="slider-img">
                                <a href="{{ path('front_detail_article', { 'id': 19 }) }}"><img src="{{ asset('bundles/ulyssefront/images/slide-2-image.jpg') }}" alt="learn more" /></a>
                            </div>
                            <div class="slider-text">
                                <h1>VENTE<br><span>SOLDE</span></h1>
                                <h2>Promotion de 10%</h2>
                                <div class="features_list">
                                    <h4>Une 3D si impressionnante que les acteurs sortent de l'écran.</h4>							               
                                </div>
                                <a href="{{ path('front_detail_article', { 'id': 19 }) }}" class="button">Détail</a>
                            </div>	
                            <div class="clear"></div>				
                        </div>												
                    </div>		
                </div>
                <div class="clear"></div>					       
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="main">
        <div class="content">
            <div class="content_top">
                <div class="heading">
                    <h3>Nouveaux Produits</h3>
                </div>
                <div class="see">
                    <p><a href="{{path('front_list_article')}}">Voir tous les Produits</a></p>
                </div>
                <div class="clear"></div>
            </div>
            {{ render(controller('UlysseFrontBundle:Article:homePreviewMostRecent')) }}
            <div class="content_bottom">
                <div class="heading">
                    <h3>Meilleurs Ventes</h3>
                </div>
                <div class="see">
                    <p><a href="{{path('front_list_article')}}">Voir tous les Produits</a></p>
                </div>
                <div class="clear"></div>
            </div>
            {{ render(controller('UlysseFrontBundle:Article:homePreviewBestSales')) }}
        </div>
    </div>
{% endblock %}